<%= form_for(@line) do |f| %>
  <div style="margin: auto; float:none; width: 220px;">
    <% if @line.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@line.errors.count, "error") %> prohibited this line from being saved:</h2>
        <ul>
        <% @line.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <!-- <div class="field">
      <%= f.label :no %><br />
      <%= f.number_field :no  %>
    </div> -->
    <div class="field" id="stanza">
      Canto Number
      <%= f.collection_select(:canto_id, Canto.order(:id), :id, :title) %>
    </div><br/>

    <div class="field">
      <%= f.label :line %>
      <%= f.text_area :line, :cols => 30, :rows => 10 %>
    </div><br/>
    
     <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
