<p id="notice"><%= notice %></p>

<p>
  <b>No:</b>
  <%= @line.no %>
</p>


<p>
  <b>Line:</b>
  <%= @line.line %>
</p>

<% @stan = Stanza.find(@line.stanza_id) %>

<p>
  <b>StanzNo:</b>
  <%= @stan.stanzno %>
</p>


 <p>
 	<b>Canto Detail </b>
	  <% @canto = @stan.canto_id %>      
      <%= Canto.find(@canto).cantono %>---<%= Canto.find(@canto).title  %>
    </b>
</p>

<%= link_to 'Edit', edit_line_path(@line) %> |
<%= link_to 'Back', lines_path %>
