<%= form_for(@rewrite) do |f| %>
  <div style="margin: auto; float:none; width: 220px;">
    <% if @rewrite.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@rewrite.errors.count, "error") %> prohibited this rewrite from being saved:</h2>

        <ul>
        <% @rewrite.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :source %>
      <%= f.text_field :source %>
    </div>
    <div class="field">
      <%= f.label :destination %>
      <%= f.text_field :destination %>
    </div>
    <div class="field">
      <%= f.label :code %>
      <%= f.number_field :code %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
