<p id="notice"><%= notice %></p>

<p>
  <b>Source:</b>
  <%= @rewrite.source %>
</p>

<p>
  <b>Destination:</b>
  <%= @rewrite.destination %>
</p>

<p>
  <b>Code:</b>
  <%= @rewrite.code %>
</p>


<%= link_to 'Edit', edit_rewrite_path(@rewrite) %> |
<%= link_to 'Back', rewrites_path %>
