<div class="row">
  <div class="span6 offset3">
    <h1 class="page-header">
      <%= link_to @medium.title, medium_audios_path %>
      <%= link_to "", request.protocol + request.host_with_port + medium_audios_path + ".rss", :class => "icon-music", :title => "Subscribe to podcast" %><br>
      <small class="blog-subtitle"><%= @medium.subtitle %></small>
    </h1>
  </div>
</div>
<div class="row">
  <div class="span6 offset3">
    <% @audios.each do |audio| %>
      <section class="audio-snippet">
        <h2><%= link_to audio.title,  medium_audio_path(@medium, audio) %></h2>
        <div>
          <span class="pull-right">
            <% if can? :update, audio %>
              <%= link_to 'Edit', edit_medium_audio_path(@medium, audio), :class => 'btn btn-mini btn-warning' %>
            <% end %>
          </span>
          <h5 class="blog-author"><%= audio.created_at.strftime("%a, %b %d %Y") %> / <%= audio.duration["total"] %>
          </h5>
          <p><%= audio.summary.html_safe %></p>
          <audio controls class="span6" style="margin-left: 0px; margin-top: 20px"><source src=<%= audio.audio_url %> type="audio/mpeg"></audio>
        </div>
      </section>
    <% end %>
  </div>
  <div class="span3">
    <% if can? :update, @medium %>
    <div class="span2">
      <div class="sidebar-title"><span class="badge">Manage podcast</span></div><br>
      <div class="btn-grp sidebar-title">
        <%= link_to 'New podcast', new_medium_audio_path, :class => 'btn btn-info' %>
      </div>
      <hr>
    </div>
    <% end %>
    <% tag_counts = @medium.audios.tag_counts.order('tags_count desc').first(15) %>
    <% if tag_counts.length > 0 %>
      <div class="span2 visible-desktop">
        <div class="sidebar-title"><span class="badge">Top tags</span></div><br>
        <% tag_cloud tag_counts, %w[s m l] do |tag| %>
          <% if false %>
            <%= link_to tag.name, tag_path(params[:blog_id], tag.name), :class => "label label-info tag" %>
          <% end %>
          <span class="label label-info"><%= tag.name %></span>
          <span class="badge pull-right"><%= tag.count %></span>
          <br>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
