<h1>Listing notebooks</h1>

<table>
  <tr>
    <th>Line</th>
    <th>Externalurl</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notebooks.each do |notebook| %>
  <tr>
    <td><%= notebook.line %></td>
    <td><%= notebook.externalurl %></td>
    <td><%= link_to 'Show', notebook %></td>
    <td><%= link_to 'Edit', edit_notebook_path(notebook) %></td>
    <td><%= link_to 'Destroy', notebook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Notebook', new_notebook_path %>
