<p id="notice"><%= notice %></p>

<p>
  <b>Line:</b>
  <%= @notebook.line %>
</p>

<p>
  <b>Externalurl:</b>
  <%= @notebook.externalurl %>
</p>


<%= link_to 'Edit', edit_notebook_path(@notebook) %> |
<%= link_to 'Back', notebooks_path %>
