<a class="down_arrow">
  <i class="icon-double-angle-down icon-3x growShrink"></i>
  <i  style="display: none" class="icon-double-angle-up icon-3x growShrink"></i>
</a>
<div class="visible-desktop">
  <button class='volume_button'>
    <i class="icon-volume-up icon-2x"></i>
  </button>
  <div class="main" style="display:none;">
    <div class="centered">
      <div class="row">
        <%= image_tag "Sri Aurobindo's Symbol Large.png" %>
      </div>
      <div class="row">
        <%= image_tag('savitri_handwriting_of_aurobindo.png', style: 'padding-top:40px;') %>
      </div>
    </div>
    <div class='symboldiv'>
    </div>
  </div>
</div>
<div class="visible-phone visible-tablet span12" id="mobile-center-images">
  <div class="row">
    <%= image_tag "Sri Aurobindo's Symbol Large.png", style: 'width:35%;' %>
  </div>
  <div class="row">
    <%= image_tag "savitri_handwriting_of_aurobindo.png", style: 'height:-10%;width:35%;padding-top:40px;' %>
  </div>
</div>
<div class="container" style="display:none;" id="selections">
  <div id="myCarousel" class="carousel slide" data-interval="false">
    <div class="carousel-inner" id="banner">
      <div class="active item text-center" id="display">
        <a href="/read/<%= @selections.first.section_id %>.<%= @selections.first.runningno %>"> <%= @selections.first.cached_lines.map(&:line).join('<br/>').html_safe %></a>
        <% @selections.shift %>
      </div>
      <% @selections.each do |stanza| %>
      <div class="item text-center" id="display">
        <a href="/read/<%= stanza.section_id %>.<%= stanza.runningno %>"> <%= stanza.cached_lines.map(&:line).join('<br/>').html_safe %></a>
      </div>
      <% end %>
    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div>
<div class="container" style="display:none;" id="recent-posts">
  <div class="row tab-page" style="margin-top: 45px">
    <div class="span8 offset2">
      <em><p class="lead text-center">Recent Posts</p></em>
      <ul class="nav nav-tabs" id="recent-posts-tab">
        <% @blogs.each do |blog| %>
        <li><a href="#<%= blog.slug %>" data-toggle="tab"><%= blog.title %></a></li>
        <% end %>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="<%= @blogs[0].slug %>">
        <ul>
          <% @posts_1.each do |post| %>
            <li>
              <p><em><%= link_to post.title, blog_post_path(post.cached_blog,post) %></em></p>
            </li>
          <% end %>
        </ul>
        </div>
        <div class="tab-pane" id="<%= @blogs[1].slug %>">
        <ul>
          <% @posts_2.each do |post| %>
            <li>
              <p><em><%= link_to post.title, blog_post_path(post.cached_blog,post) %></em></p>
            </li>
          <% end %>
        </ul>
        </div>
        <div class="tab-pane" id="<%= @blogs[2].slug %>">
        <ul>
          <% @posts_3.each do |post| %>
            <li>
              <p><em><%= link_to post.title, blog_post_path(post.cached_blog,post) %></em></p>
            </li>
          <% end %>
        </ul>
        </div>
        <div class="tab-pane" id="<%= @blogs[3].slug %>">
        <ul>
          <% @posts_4.each do |post| %>
            <li>
              <p><em><%= link_to post.title, blog_post_path(post.cached_blog,post) %></em></p>
            </li>
          <% end %>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('.carousel').carousel({
    interval: false
  })
</script>
<audio id='player' autoplay loop>
  <source src="<%= asset_path '01_It_was_the_hour_before_the_gods_awake.ogg' %>">
</audio>
