		 <div class="hero-unit">
        <div class="row">
				<div class="span8">
					<h2>The Light of the Supreme</h2><br/>
					<p>Savitri who shall give us the truth and the things of the truth <br/>
					shall be the driving motivation behind this effort.</p>
			   <!-- <p><a class="btn primary large">Learn more &raquo;</a></p>-->
				</div>
			   <div class="span2">
				<%= image_tag "aurobindo.png" %>
			   </div>
		</div>
    </div> <!-- /container -->
		<div class="row">
			<div class="span4">
				<% @stanzafirst = Stanza.order("RANDOM()").first %>
				<h4><%= Canto.find(@stanzafirst.canto_id).title %> </h4><br/>
				<p>
				<% @stanzafirst.lines.each do |line| %>
					<%= line.line %> <br/>
				<% end %>
				</p>
				<%= button_to "Read More""&raquo;".html_safe, stanza_path(@stanzafirst), :class => "btn btn-small", :method => :get %> 
			</div>
			<div class="span4">
				<% @stanzafirst = Stanza.order("RANDOM()").last %>
				<h4><%= Canto.find(@stanzafirst.canto_id).title %> </h4><br/>
				<p>
				<% @stanzafirst.lines.each do |line| %>
					<%= line.line %> <br/>
				<% end %>
				</p>
				<%= button_to "Read More""&raquo;".html_safe, stanza_path(@stanzafirst), :class => "btn btn-small", :method => :get %> 
			</div>
				<div class="span4">
				<% @latestfiveposts = Post.find(:all,:order=>("created_at DESC"),:limit=>5) %>
				<h4>Latest 5 Posts</h4><br/>
				<p> 
				<% @latestfiveposts.each do |post| %>
					<%= link_to post.title, post_path(post) %> , by <%= User.find(post.user_id).name %><br/>
				<% end %>
				</p>
				<p><a class="btn btn-small" href="/posts">Read more posts &raquo;</a></p>
			</div>
		</div>
		<div align="center">
			<footer>
				<p>&copy; NM 2012</p>
		  </footer>
	  </div>