<%= form_for @blog do |f| %>
  <div style="margin: auto; float:none; width: 220px;">
    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :subtitle, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :subtitle, :class => 'text_field' %>
      </div>
    </div>
    
     <div class="control-group">
      <%= f.label :slug, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :slug, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-grp" style="text-align: center">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  blogs_path, :class => 'btn' %>
    </div>
  </div>
<% end %>
