<!-- Header and Nav -->

<div class="row">
  <div class="span2">
    &nbsp;
  </div>
  <div class="span9">
    <h3><i>Some Nice Landing Page Title</i></h3>
  </div>
  <div class="span2">
    &nbsp;
  </div>
</div>
<!-- End Header and Nav -->
<div class="row">
  <div class="span2">
    &nbsp;
  </div>
  <div class="span9">
    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <% @posts.each do |post| %>
        <div class="item<%=cycle(" active","","")%>">
          <h5><%= link_to post.title, blog_post_path(post.blog,post) %></h5>
          <%= post.content.html_safe.gsub(/\r\n?/,"<br/>").html_safe %>
        </div>
        <% end %>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
    <hr/>
  </div>
</div>
  <div class="row">   
    <div class="span2">
      &nbsp;
    </div>
    <% blogs = User.find(1).blogs %>
    <% blogs.each do |blog| %>
      <div class="span3">  
        
          <li> <%= link_to blog.title, blog_posts_path(blog) %>
             <ul>
              <li><%= link_to blog.posts.first.title, blog_post_path(blog,blog.posts.first.id) %></li>
            </ul> 
          </li>
        
      </div>
    <% end %>
</div>
</div>
<hr/>
<div class="row">
  <div class="span4">
    &nbsp;
  </div>
  <div class="span4">
    <% @stanzafirst = Stanza.order("RANDOM()").last %>
    <p class="quote"><i>
      <% @stanzafirst.lines.each do |line| %>
      <%= line.line %> <br/>
      <% end %>
      ||<%= @stanzafirst.section %> . <%= @stanzafirst.no %>||</i></p>
    </div>
    <div class="span4">
      &nbsp;
    </div>
  </div>
