<%- model_class = Blog -%>
<div class="page-header">
	<h1>Manage Blog</h1>
</div>

<% @blogs.each do |blog| %>
		<h4>
			<%= link_to blog.title, blog_posts_path(blog) %>
			<small>
			<%= pluralize blog.posts.count, "post" %> <br/>
			<%= link_to 'Edit Blog', edit_blog_path(blog)  %> | 
			<%= link_to 'Show Blog', blog_posts_path(blog)  %> |
			<%= link_to 'New Post', new_blog_post_path(blog) %> | 
			<%= 'Moderate Comments'  %> |
			<%= 'Delete Blog'  %> |
			<%= 'Change Tempalte'  %> |
			<%= 'Etc.'  %> |
			</small>
		<h4>
	<br/>
<% end %>
<% if current_user.role == 'Admin' && current_user.blogs.count < 3 %>
	<%= link_to 'New Blog', new_blog_path %>
<% elsif current_user.blogs.count < 1 %>
	<%= link_to 'New Blog', new_blog_path %>	
<% end %>