<%- model_class = Blog -%>
<div class="page-header">
	<h1>Manage Blog</h1>
</div>

<% @blogs.each do |blog| %>
	<p>
		<h4>
			<%= blog.title %>
			<small>
			<%= pluralize blog.posts.count, "post" %> <br/><br/>
			<%= link_to 'Edit', edit_blog_path(blog)  %> | 
			<%= link_to 'Show', user_posts_path(blog.user)  %> |
			<%= 'Moderate Comments'  %> |
			<%= 'Delete Blog'  %> |
			<%= 'Etc.'  %> |
		</small>
		<h4>

	</p>
<% end %>