<div class="well" style="margin: auto; float:none; width: 220px;">
  <h2>Sign up</h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <%= f.input :username, :autofocus => true %>
  <%= f.input :name %> 
  <%= f.input :email, :required => true %>
  <%= f.input :password, :required => true %>
  <%= f.input :password_confirmation, :required => true %>
  <div style="text-align: center">
    <%= f.button :submit, 'Sign up', :class => 'btn btn-success' %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
</div>
