<div class="comment">
  <div class="comment-author">
    <span class="author">
      <%= link_to comment.commenter.present? ? comment.commenter : comment.cached_user.username, profile_path(comment.cached_user), {:class => "underline"} %>
      on <%= comment.created_at.strftime("%b %d %Y at ") %> <%= link_to comment.created_at.strftime("%l:%M %p"), blog_post_path(comment.cached_post.cached_blog, comment.cached_post, :anchor => "comment-" + comment.id.to_s), {:class => "underline"} %>:
    </span>
    <span style="float:right">
      <% if can? :destroy, comment %>
        <%= link_to 'Edit', "#", :id => "editcomment-#{comment.id}", :class => "btn btn-mini btn-warning" %>
        <%= link_to 'Delete', [comment.cached_post, comment],
        :class => "btn btn-mini btn-danger",
        :confirm => 'Are you sure?',
        :method => :delete %>
      <% end %>
    </span>
  </div>
  <div id="comment-<%= comment.id %>" class="main-content">
    <%= best_in_place comment, :body, :type => :textarea, :activator => "#editcomment-#{comment.id}", :classes => 'highlight_on_success controls', :path => post_comment_path(comment.post,comment), :display_with => 'simple_format'  %>
  </div>
</div>
