<div class="comment">
  <div class="comment-author">
    <span class="author">
      <%= link_to comment.user.name, profile_path(comment.user), {:class => "overrideanchor"} %>
      on <%= link_to comment.created_at.strftime("%b %d %Y at %l:%M %p"),
      blog_post_path(comment.post.blog, comment.post, :anchor => "comment-"+comment.id.to_s )%>:
    </span>
    <span style="float:right">
      <% if can? :destroy, comment %>
        <%= link_to 'Delete', [comment.post, comment],
        :class => "btn btn-mini btn-danger",
        :confirm => 'Are you sure?',
        :method => :delete %>
      <% end %>
    </span>
  </div>
  <div id="comment-<%= comment.id %>">
    <p><%= comment.body.gsub(/\r\n?/,"<br>").html_safe %></p>
  </div>
</div>
