<%= form_for([@post, @post.comments.build], :html => { :class => 'form-horizontal' } ) do |f| %>
  <%= f.hidden_field :commenter, :value => current_user.name %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="control-group comment">
    <div class="controls" style="margin-left: 0px; margin-top: 20px">
      <%= f.text_area :body, :rows => 8, :placeholder=>"Your thoughts here...", :class => 'text_field span6', :style=>"resize: none"  %>
    </div>
  </div>
  <div class="control-group" style="text-align: center;">
    <input class="btn btn-success" type="submit" value="Comment as <%= current_user.name %>"></input>
    <input class="btn" type="button" value="Clear"></input>
  </div>
<% end %>
