<%= form_for([@post, @post.comments.build], :html => { :class => 'form-horizontal' } ) do |f| %>
  <div class="control-group">
    <%= f.label :commenter , :class => 'control-label'%>
    <div class="controls" >
      <%= f.text_field :commenter , :class => 'text_field', :value => current_user.name, :readonly => 'true' %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Comment" , :class => 'control-label'%>
    <div class="controls" >
      <%= f.text_area :body ,:rows => 4 , :class => 'text_field' %>
    </div>
  </div>
   <div class="form-actions">
    <%= f.submit 'Post Comment'%>
    
  </div>
  
<% end %>

<div id="insertImageDialog" title="Insert Image">
    <h4>
        From the web</h4>
    <p>
        <input type="text" placeholder="Enter url e.g. http://yoursite.com/image.jpg" />
    </p>
    <h4>
        From your computer</h4>
    <span class="loading-small"></span>
    <input type="file" name="file" id="file" data-action="/media/editorupload" />
</div>