<%= render 'filters' %>
<div class="facets">
	<h5 class="left-filter">
		Filter by
	</h5>
	<% unless @search.facet(:category).nil? %>
		<%= render 'category_facet' %>
	<% end %>
	<% unless @search.facet(:sbook).nil? %>
		<%= render 'sbook_facet' %>
	<% end %>
	<% unless @search.facet(:lbook).nil? %>
		<%= render 'lbook_facet' %>
	<% end %>
	<% unless @search.facet(:canto).nil? %>
		<%= render 'canto_facet' %>
	<% end %>
	<% unless @search.facet(:section).nil? %>
		<%= render 'section_facet' %>
	<% end %>
	<% unless @search.facet(:length).nil? %>
		<%= render 'length_facet' %>
	<% end %>
	<% unless @search.facet(:author).nil? %>
		<%= render 'author_facet' %>
	<% end %>
	<% unless @search.facet(:blogname).nil? %>
		<%= render 'blogname_facet' %>
	<% end %>
	<% unless @search.facet(:posted).nil? %>
		<%= render 'posted_facet' %>
	<% end %>
</div>

<h5><%= link_to "Download Results in MD", search_download_path(:q => params[:q], :lbook => params[:lbook],:length => params[:length], :sbook => params[:sbook], :canto => params[:canto], :section => params[:section]) %>
</h5>
