<% unless params[:q].blank? %>
  <h5 class="left-filter">Query</h5>
  <div class="filters">
    <ul>
      <li>
        <% if params[:q].to_s.include?("in:") %>
          <% unless @keywords.blank? %>
            <% keywords = @keywords.split(" ") %>
            <% keywords.each do |keyword| %>
              <% excludes = keywords.reject{|key| key == keyword}.join(' ') %>
              <span class="label"><a href="<%= search_path(:utf8 => params[:utf8], :q => excludes << " " + @condition) %>"><i class="icon-remove"></i></a><%= keyword %></span>
              <br>
            <% end %>
          <% end %>
          <span class="label"><a href="<%= search_path(:utf8 => params[:utf8], :q => @keywords) %>"><i class="icon-remove"></i></a><%= @condition %></span>
          <br>
        <% else %>
          <% keywords = params[:q].to_s.split(" ") %>
          <% keywords.each do |keyword| %>
            <% excludes = keywords.reject{|key| key == keyword}.join(' ') %>
            <span class="label"><a href="<%= search_path(:utf8 => params[:utf8], :q => excludes) %>"><i class="icon-remove"></i></a><%= keyword %></span>
            <br>
          <% end %>
        <% end %>
      </li>
      <!--sBook Filter Selected -->
      <% unless params[:sbook].blank? %>
        <% for row in @search.facet(:sbook).rows.each do %>
          <li>
            <span class="label"><a href="<%= search_path(:sbook => nil , :length => params[:length], :canto => params[:canto], :q => params[:q], :section => params[:section]) %>"><i class="icon-remove"></i></a> Book <%= row.value %></span>
          </li>
        <% end %>
      <% end %>
      <!--lBook Filter Selected -->
      <% unless params[:lbook].blank? %>
        <% for row in @search.facet(:lbook).rows.each do %>
          <li>
            <span class="label"><a href="<%= search_path(:lbook => nil , :length => params[:length], :q => params[:q]) %>"><i class="icon-remove"></i></a> Book <%= row.value %></span>
          </li>
        <% end %>
      <% end %>
      <!-- Book Filter Selected -->
      <% unless params[:book].blank? %>
        <% for row in @search.facet(:book).rows.each do%>
          <li>
            <span class="label"><a href="<%= search_path(:book => nil) %>"><i class="icon-remove"></i></a> Book <%= row.value %></span>
          </li>
        <% end %>
      <% end %>
      <!--Canto Filter Selected -->
      <% unless params[:canto].blank? %>
        <% for row in @search.facet(:canto).rows.each do %>
          <li>
            <span class="label"><a href="<%= search_path(:canto => nil ,:q=>params[:q], :length => params[:length], :lbook => params[:lbook], :sbook=>params[:sbook], :book=>params[:book]) %>"><i class="icon-remove"></i></a> Canto <%= row.value %></span>
          </li>
        <% end %>
      <% end %>
      <!-- Section Filter Selected -->
      <% unless params[:section].blank? %>
        <% for row in @search.facet(:section).rows.each do%>
          <li>
            <span class="label"><a href="<%= search_path(:section => nil, :canto => params[:canto] , :lbook => params[:lbook], :q => params[:q],:sbook => params[:sbook],:length=>params[:length]) %>"><i class="icon-remove"></i></a> Section <%= row.value %></span>
          </li>
        <% end %>
      <% end %>
      <!--Length of Sentence Selected -->
      <% unless params[:length].blank? %>
        <% for row in @search.facet(:length).rows.each do %>
          <li>
            <span class="label"><a href="<%= search_path(:canto => params[:canto] , :length => nil, :lbook => params[:lbook], :sbook=>params[:sbook], :book=>params[:book], :q=>params[:q], :section => params[:section]) %>"><i class="icon-remove"></i></a> Sentence length <%= row.value %></span>
          </li>
        <% end %>
      <% end %>
      <!-- Blog Filter Selected -->
      <% unless params[:blogname].blank? %>
        <% for row in @search.facet(:blogname).rows.each do%>
          <li>
            <span class="label"><a href="<%= search_path(:blogname => nil, :q => params[:q],:posted => params[:posted],:author=>params[:author]) %>"><i class="icon-remove"></i></a> Blog <%= row.value %></span>
          </li>
        <% end %>
      <% end %>
      <!-- Author Filter Selected -->
      <% unless params[:author].blank? %>
        <% for row in @search.facet(:author).rows.each do%>
          <li>
            <span class="label"><a href="<%= search_path(:author => nil, :q => params[:q],:posted => params[:posted],:blogname=>params[:blogname]) %>"><i class="icon-remove"></i></a> Author <%= row.value %></span>
          </li>
        <% end %>
      <% end %>
      <!-- Posted Filter Selected -->
      <% unless params[:posted].blank? %>
        <% for row in @search.facet(:posted).rows.each do%>
          <li>
            <span class="label"><a href="<%= search_path(:posted => nil, :q => params[:q],:author => params[:author],:blogname=>params[:blogname]) %>"><i class="icon-remove"></i></a> Posted in <%= row.value %></span>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
