<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4><% unless @sender.name.blank? %><%= @sender.name %><% else %><%= @sender.username %><% end %> wrote a comment on "<%= link_to @post.title, blog_post_url(@blog, @post, :anchor => "comment-"+@comment.id.to_s) %>" at <%= link_to @blog.title, blog_url(@blog) %>.</h4>
    <p>
      <p>Comment:</p>
      <div style="padding-left:50px">
        <% comment_body = markdown_to_html(@comment.body) %>
        <% comment_body = comment_body.gsub(/\r\n?/, "") %>
        <% stripped_content = strip_tags(comment_body) %>
        <% if stripped_content.split(" ").length > 200 %>
          <%= comment_body.split(" ").first(200).join(" ").html_safe %>...
          <p><%= link_to "Read more", blog_post_url(@blog, @post, :anchor => "comment-" + @comment.id.to_s) %></p>
        <% else %>
          <%= comment_body.split(" ").first(200).join(" ").html_safe %>
        <% end %>
      </div>
    </p>
  </body>
</html>
