<%- model_class = User -%>
<div class="page-header">
</div>
<div class="content">
  <div class="row">
    <div class="span1">&nbsp;</div>
      <div class="span4">
        <h3><%= image_tag(@user.photo_url(:thumb).to_s, :height => "100", :width => "100") %>
        <%=t '.title', :default => @user.name %></h3>
        <div class="pull-left">Subscribe Button (TBD)</div>
      </div>
    </div>
    <br/>;
  <div class="row">
    <div class="span1">&nbsp;</div>
    <div class="span4">    
        <dt>Recent Posts:</dt>
        <dd>
          <ol>
            <% @user.posts.each do |post| %>
               <%= link_to post.title , post_path(post.id) %> | 
               <%= link_to (pluralize post.comments.count , "comment") , post_path(post.id) %>
               <br/> 
            <% end %>
        </dd>
   </div>
   <div class="span4">
      <dt>Recent Comments:</dt>
      <dd>
        <ol>
          <% @user.comments.each do |comment| %>
             <%= link_to comment.body , post_path(comment.post_id) %> 
             on <i><%= link_to Post.find(comment.post_id).title, post_path(Post.find(comment.post_id)) %> </i>
             <br/> 
          <% end %>
      </dd>
  </div>
</div>
 </dl>
</div>
</div>