<div id="paginator">
<%= paginate @stanzas, :param_name => :stanzas , :remote => true, :window => 1 %>
</div>
<% content_for :head do %>
<link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
<% end %>

<div class="container-fluid"> 
       <div class="row-fluid">
        <div class="span3">
          <div class="accordion" id="accordion2">
            <% Book.all.each do |book| %>
            <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= book.id %>" id="bk1">
                    <%= book.name %>
                    </a>
                  </div>
                  <div id="collapse<%= book.id %>" class="accordion-body collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                       <ul class="nav nav-tabs nav-stacked">
                        <% book.cantos.each do |canto| %>
                          <li>
                            <%= link_to canto.title, read_path(canto.id) %>
                          </li>
                        <% end %>
                       </ul>
                    </div>
                  </div>
                </div>
              <% end %>
          </div>
        </div>
        <div class="span6 offset1">
			<div id="cantos">
				
        <h2><%= Canto.find(Section.find(@stanzas.first.section).canto_id).title %></h2> 
        <div id="content">
					<div id="poem" class="readsavitri">
						<%= render @stanzas %>
          </div>
					</div>
			</div>
		</div>
	</div>
</div>
