<!-- dynamic fetch of books and cantos -->
<div class="row rowread">
  <div class="span2 visible-desktop">
    <div class="accordion" id="accordion2">
      <% Book.all.each do |book| %>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle collapsed navbook" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= book.id %>" id="bk1"><%= book.name %></a>
        </div>
        <div id="collapse<%= book.id %>" class="accordion-body collapse">
          <div class="accordion-inner custom-accordion-inner">
            <ul class="nav nav-tabs nav-stacked navcanto">
              <% book.cantos.each do |canto| %>
                <li id="leftnav" class="dropdown-submenu">
                  <a href="<%= "/read/" + book.id.to_s + "/" + canto.id.to_s + "/1" %>" class="<%= is_active_link params,book.id.to_s,canto.id.to_s %>">
                    <% *title = canto.title.split(/(: )/) %>
                    <% if title.length == 1%>
                      <%= title[0] %>
                    <% else %>
                      <%= title[0] + title[1] %>
                      <br>
                      <%= title[2] %>
                    <% end %>
                  </a>
                  <ul class="dropdown-menu roundcorner">
                    <% canto.sections.each do |section| %>
                      <li class="<%= is_active_section params,section.runningno.to_s,canto.no.to_s %>">
                        <%= link_to 'Section '+ section.runningno.to_s + ' ('+ section.no.to_s + ')',"/read/" + @canto.book.no.to_s + "/" +canto.no.to_s + "/" + section.runningno.to_s %>
                      </li>
                    <% end %>
                  </ul>
                </li>
              <% end %> 
            </ul>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <!-- '/read/'+bookid.to_s+'/'+cantoid.to_s+'/'+sectionrunningno.to_s+'#'+query[1] -->
  <div class="span6 offset1" id="read">
    <div id="cantos">
      <% unless @stanzas.blank? %>
        <% @book = Book.find(params[:book_id]) %>
        <% @canto = Canto.find(Section.find(@stanzas.first.section).canto_id) %>
        <div class="page-header visible-desktop">
          <h4>Book <%= @book.no %>: <%= Book.find(params[:book_id]).name %></h4>
        </div>
        <h3 class="cantono visible-desktop">Canto <%= @canto.no %></h3>
        <div class="page-header hidden-desktop">
          <h4 class="bookcantono">
            <span class="dropdown">
              <a class="dropdown-toggle" id="dropsection" data-toggle="dropdown" href="#">
                <span class="sectionlbl" style="display:none">Book</span>
                <%= params[:book_id]%>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu sectionlist size">
                <% Book.all.each do |book| %>
                <li>
                  <%= link_to 'Book ' + book.no.to_s + ': ' + book.name.to_s, '/read/' + book.no.to_s + '/1/1', :class=>"tag" %>
                </li>
                <% end %>
                <!-- dropdown menu links -->
              </ul>
            </span>
            <span style="margin-left: 20px; margin-right: 20px">/</span>
            <span class="dropdown">
              <a class="dropdown-toggle" id="dropsection" data-toggle="dropdown" href="#">
                <span class="sectionlbl" style="display:none">Canto</span>
                <%= params[:canto_id]%>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu size sectionlist dropdown-align" role="menu" aria-labelledby="dropsection">
                <% @book.cantos.each do |canto| %>
                <li role="presentation">
                  <% *title = canto.title.split(/(: )/) %>
                  <% if title.length == 1%>
                      <% canto_title = title[0] %>
                    <% else %>
                      <% canto_title = title[2] %>
                  <% end %>
                  <%= link_to 'Canto ' + canto.no.to_s + ': '+ canto_title, '/read/' + params[:book_id].to_s + '/' + canto.no.to_s + '/1', :class=> "tag" %>
                  <% end %>
                </li>
                <!-- dropdown menu links -->
              </ul>
            </span>
          </h4>
        </div>
        <h2 class="cantoname">
          <% *title = @canto.title.split(/(: )/) %>
          <% if title.length == 1%>
            <%= title[0] %>
          <% else %>
            <%= title[0] + title[1] %>
            <br>
            <%= title[2] %>
          <% end %>
        </h2>
        <div class="sections">
          <h4 class="sectionno">
            <% if @canto.sections.length > 1 %>
              <span class="dropdown">
                <a class="dropdown-toggle hidden-desktop" id="dropsection" role="button" data-toggle="dropdown" data-target="#" href="#">
                  <span class="sectionlbl" style="display:none">Section</span>
                  <%= params[:section_id] + " (" + @canto.sections.where(:runningno=>params[:section_id]).first.no.to_s + ")" %>
                  <b class="hidden-desktop"><span class="caret"></span></b>
                </a>
                <span class="visible-desktop">
                  <span class="sectionlbl" style="display:none">Section</span>
                  <%= params[:section_id] + " (" + @canto.sections.where(:runningno=>params[:section_id]).first.no.to_s + ")" %>
                </span>
                <ul class="dropdown-menu sectionlist" role="menu" aria-labelledby="dropsection">
                  <% @canto.sections.each do |section| %>
                  <li role="presentation" class="hidden-desktop">
                    <%= link_to "/read/" + @canto.book.no.to_s + "/" + @canto.no.to_s + "/" + section.runningno.to_s do %>
                    Section <%= section.runningno.to_s + " (" + @canto.sections.where(:runningno=>section.runningno).first.no.to_s + ")" %>
                    <% end %>
                  </li>
                  <% end %>
                </ul>
              </span>
            <% else %>
              <span class="sectionlbl">Section</span>
              <%= params[:section_id] + " (" + @canto.sections.where(:runningno=>params[:section_id]).first.no.to_s + ")" %>
            <% end %>
          </h4>
          <div id="content">
            <div id="s<%= params[:section_id] %>" class="section">
              <p><%= render @stanzas %></p>
            </div>
          </div>
        </div>
      <% else %>
        <h2><%= @canto.title %></h2>
      <% end %>
    </div>
  </div>
</div>