<% @book = Book.cached_find(params[:book_id]) %>
<% unless @stanzas.blank? %>
  <% @section = Section.cached_find(@stanzas.first.cached_section) %>
  <% @canto = Canto.cached_find(@section.cached_cantoid) %>
  <% @sections = @canto.cached_sections %>
  <% @stanzasblank = false %>
<% end %>
<% title @book.name + " | " + @canto.title + " | Section " + @section.no.to_s %>
<div class="row" id="read-row">
  <div class="span2 visible-desktop">
    <div class="accordion sidebar" id="accordion2">
      <% Book.cached_all.each do |book| %>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle collapsed navbook navfx" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= book.cached_number %>" id="bk1"><%= book.cached_name %></a>
          </div>
          <div id="collapse<%= book.cached_number %>" class="accordion-body collapse">
            <div class="accordion-inner custom-accordion-inner">
              <ul class="nav nav-tabs nav-stacked navcanto">
                <% book.cached_cantos.each do |canto| %>
                  <li id="leftnav" class="dropdown-readsubmenu dropdown-submenu">
                    <a href="<%= "/read/" + book.cached_number.to_s + "/" + canto.cached_number.to_s + "/1" %>" class="<%= active_link? params,book.cached_number.to_s,canto.cached_number.to_s %>">
                      <% *title = canto.cached_title.split(/(: )/) %>
                      <% if title.length == 1%>
                        <%= title[0] %>
                      <% else %>
                        <%= title[0] + title[1] %>
                        <br>
                        <%= title[2] %>
                      <% end %>
                    </a>
                    <ul class="dropdown-menu roundcorner readsubmenutext dd-menu">
                      <% canto.cached_sections.each do |section| %>
                        <li class="<%= active_section? params,section.runningno.to_s,canto.no.to_s %>">
                          <%= link_to 'Section '+ section.cached_runningno.to_s + ' ('+ section.cached_number.to_s + ')',"/read/" + canto.cached_book.cached_number.to_s + "/" + canto.cached_number.to_s + "/" + section.cached_runningno.to_s %>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %> 
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
    <!-- '/read/'+bookid.to_s+'/'+cantoid.to_s+'/'+sectionrunningno.to_s+'#'+query[1] -->
  <div class="span6 offset1" id="read">
    <div id="cantos">
      <% unless @stanzasblank %>
        <div class="page-header visible-desktop">
          <h4>Book <%= @book.cached_number %>: <%= @book.cached_name %></h4>
        </div>
        <h3 class="cantono visible-desktop">Canto <%= @canto.cached_number %></h3>
        <div class="page-header hidden-desktop">
          <h4 class="bookcantono">
            <span class="dropdown">
              <a class="dropdown-toggle" id="dropsection" data-toggle="dropdown" href="#">
                <span class="sectionlbl" style="display:none">Book</span>
                <%= params[:book_id]%>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu sectionlist size dd-menu">
                <% Book.cached_all.each do |book| %>
                  <li>
                    <%= link_to 'Book ' + book.cached_number.to_s + ': ' + book.cached_name.to_s, '/read/' + book.cached_number.to_s + '/'+ book.cached_cantos.first.cached_number.to_s + '/1', :class=>"tag" %>
                  </li>
                <% end %>
                  <!-- dropdown menu links -->
              </ul>
            </span>
            <span style="margin-left: 20px; margin-right: 20px">/</span>
            <span class="dropdown">
              <a class="dropdown-toggle" id="dropsection" data-toggle="dropdown" href="#">
                <span class="sectionlbl" style="display:none">Canto</span>
                <%= params[:canto_id]%>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu size sectionlist dropdown-align dd-menu" role="menu" aria-labelledby="dropsection">
                <% @book.cached_cantos.each do |canto| %>
                  <li role="presentation">
                    <% *title = canto.cached_title.split(/(: )/) %>
                    <% if title.length == 1%>
                      <% canto_title = title[0] %>
                    <% else %>
                        <% canto_title = title[2] %>
                    <% end %>
                    <%= link_to 'Canto ' + canto.cached_number.to_s + ': '+ canto_title, '/read/' + params[:book_id].to_s + '/' + canto.cached_number.to_s + '/1', :class=> "tag" %>
                  </li>
                  <!-- dropdown menu links -->
                <% end %>
              </ul>
            </span>
          </h4>
        </div>
        <h2 class="cantoname">
          <% *title = @canto.title.split(/(: )/) %>
          <% if title.length == 1%>
            <%= title[0] %>
          <% else %>
            <%= title[0] + title[1] %>
            <br>
            <%= title[2] %>
          <% end %>
        </h2>
        <div class="sections">
          <h4 class="sectionno">
            <% if @sections.size > 1 %>
              <span class="dropdown">
                <a class="dropdown-toggle hidden-desktop" id="dropsection" role="button" data-toggle="dropdown" data-target="#" href="#">
                  <span class="sectionlbl" style="display:none">Section</span>
                  <%= params[:section_id] + " (" + @section.cached_number.to_s + ")" %>
               
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu sectionlist dd-menu" role="menu" aria-labelledby="dropsection">
                  <% @sections.each do |section| %>
                  <li role="presentation" class="hidden-desktop">
                    <%= link_to "/read/" + @canto.cached_book.cached_number.to_s + "/" + @canto.cached_number.to_s + "/" + section.cached_runningno.to_s do %>
                    Section <%= section.cached_runningno.to_s + " (" + section.cached_number.to_s + ")" %>
                    <% end %>
                  </li>
                  <% end %>
                </ul>
              </span>
              <span class="visible-desktop">
                <span class="sectionlbl" style="display:none;">Section</span>
                <%= params[:section_id] + " (" + @section.cached_number.to_s + ")" %>
              </span>
            <% else %>
              <span class="sectionlbl">Section</span>
              <%= params[:section_id] + " (" + @section.cached_number.to_s + ")" %>
            <% end %>
          </h4>
          <div id="content">
            <div id="s<%= params[:section_id] %>" class="section">
              <p><%= render @stanzas %></p>
            </div>
          </div>
        </div>
      <% else %>
        <h2><%= @canto.cached_title %></h2>
      <% end %>
    </div>
  </div>
</div>
<i href="#" class="icon-chevron-up go-top visible-desktop" style="float:right;"></i>
