<% title "Read Book"  %>
<!-- dynamic fetch of books and cantos -->
<div class="row">
  <div class="span3">
    <div class="accordion" id="accordion2">
      <% Book.cached_all.each do |book| %>
      <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle collapsed navbook" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= book.cached_number %>" id="bk1"><%= book.cached_name %></a>
            </div>
            <div id="collapse<%= book.cached_number %>" class="accordion-body collapse" style="height: 0px; ">
              <div class="accordion-inner">
                 <ul class="nav nav-tabs nav-stacked navcanto">
                  <% book.cached_cantos.each do |canto| %>
                    <li id="leftnav">
                      <a href="<%= '/read/'+book.cached_number.to_s+"/"+canto.cached_number.to_s+"/1" %>", class="<%= is_active_link params,book.cached_number.to_s,canto.cached_number.to_s %>"><%= canto.cached_title %></a>
                    </li>
                  <% end %>
                 </ul>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
  <div class="span6">
    <div id="cantos">
      <% unless @stanzas.blank? %>
        <% @section = Section.cached_find(@stanzas.first.cached_section) %>
        <% @canto = Canto.cached_find(@section.cached_cantoid) %>
        <% @sections = @canto.sections_cache %>
        <h3 class="cantono">Canto <%= @canto.cached_number %></h3>
        <h2 class="cantoname"><%= @canto.cached_title %></h2>
        <div class="sections">
          <h4 class="sectionno">
            <% if @sections.size > 1 %>
              <span class="dropdown">
                <a class="dropdown-toggle" id="dropsection" role="button" data-toggle="dropdown" data-target="#" href="#">
                  <span class="sectionlbl" style="display:none">Section</span>
                  <%= @section.cached_runningno.to_s + " (" + @section.cached_no.to_s + ")" %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu sectionlist" role="menu" aria-labelledby="dropsection">
                  <% @sections.each do |sect| %>
                    <li role="presentation">
                      <%= link_to "/read/" + @canto.cached_book.cached_number.to_s + "/" + @canto.cached_number.to_s + "/" + sect.cached_runningno.to_s do %>
                        Section <%= sect.cached_runningno.to_s + " (" + sect.cached_no.to_s + ")" %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </span>
            <% else %>
              <span class="sectionlbl" style="display:none">Section</span>
              <%= @section.cached_runningno.to_s + " (" + @section.cached_no.to_s + ")" %>
            <% end %>
          </h4>
          <div id="content">
            <div id="s<%= @section.cached_runningno %>" class="section">
              <p><%= render @stanzas %></p>
            </div>
          </div>
        </div>
      <% else %>
        <h2><%= @canto.cached_title %></h2>
      <% end %>
    </div>
  </div>
</div>
