<!-- dynamic fetch of books and cantos -->
<div class="row rowread">
  <div class="span3">
    <div class="accordion" id="accordion2">
      <% Book.all.each do |book| %>
      <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle collapsed navbook" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= book.id %>" id="bk1"><%= book.name %></a>
            </div>
            <div id="collapse<%= book.id %>" class="accordion-body collapse" style="height: 0px; ">
              <div class="accordion-inner">
                 <ul class="nav nav-tabs nav-stacked navcanto">
                  <% book.cantos.each do |canto| %>
                    <li id="leftnav">
                      <a href="<%= '/read/'+book.id.to_s+"/"+canto.id.to_s+"/1" %>", class="<%= is_active_link params,book.id.to_s,canto.id.to_s %>"><%= canto.title %></a>
                    </li>
                  <% end %>
                 </ul>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
  <div class="span6">
    <div id="cantos">
      <% unless @stanzas.blank? %>
        <% @canto = Canto.find(Section.find(@stanzas.first.section).canto_id) %>
        <h3 class="cantono">Canto <%= @canto.no %></h3>
        <h2 class="cantoname"><%= @canto.title %></h2>
        <div class="sections">
          <h4 class="sectionno">
            <% if @canto.sections.length > 1 %>
              <span class="dropdown">
                <a class="dropdown-toggle" id="dropsection" role="button" data-toggle="dropdown" data-target="#" href="#"><span class="sectionlbl" style="display:none">Section</span><b class="caret"></b></a>
                <ul class="dropdown-menu sectionlist" role="menu" aria-labelledby="dropsection">
                  <% @canto.sections.each do |section| %>
                    <li role="presentation">
                      <a href="<%= "/read/" + @canto.book.no.to_s + "/" + @canto.no.to_s + "/" + section.runningno.to_s %>">Section <%= section.runningno.to_s + " (" + @canto.sections.where(:runningno=>section.runningno).first.no.to_s + ")" %>
                      </a>
                    </li>
                  <% end %>
                </ul>
              </span>
            <% else %>
              <span class="sectionlbl" style="display:none">Section</span>
            <% end %>
            <%= params[:section_id] + " (" + @canto.sections.where(:runningno=>params[:section_id]).first.no.to_s + ")" %>
          </h4>
          <div id="content">
            <div id="s<%= params[:section_id] %>" class="section">
              <p><%= render @stanzas %></p>
            </div>
          </div>
        </div>
      <% else %>
        <h2><%= @canto.title %></h2>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  //show the static text "Section" after page load
  $(".sectionlbl").show();
</script>
