<%= form_for(@page) do |f| %>
<div class="row">
  <div class="span6 offset3">
    <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>
      <ul>
        <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :permalink %>
      <%= f.text_field :permalink %>
    </div>
    <div class="field">
      <%= f.label :category %>
      <%= f.select(:category,[["Menu","Menu"],["Non-Menu","Non-Menu"]]) %>
    </div>
    <div class="field">
      <%= f.label :priority %> 
      <%= f.text_field :priority, :size => 5  %>
    </div>
    <div class="control-group">
      <%= f.label :content, :class => 'control-label' %>
      <div class='wmd-panel'>
        <div class="controls">
          <div id='wmd-button-bar'><span id="previewbtn" class="btn btn-info pull-right" style="min-width: 46px;">Preview</span></div>
          <%= f.text_area :md_content, :class=> "span6", :id=>"wmd-input", :style => "resize: none; margin-top: 20px" %>
          <div id="wmd-preview" class="wmd-preview well well-small" style="display: none; min-height: 490px; margin-top: 20px"></div>
          <%= f.text_area :content, :style=> "display: none" %>        
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span6 offset3">
    <div class="control-grp" style="text-align: center">
      <%= f.submit nil, :class => 'btn btn-success', :id=>"new-page" %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), pages_path, :class => 'btn' %>
    </div>
  </div>
</div>
<% end %>
