<div class="row">
  <div class="span12 page-header title">
    <h1>Edit page</h1>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    if ($("#page_category").val() == "Non-Menu") {
      $("#page-priority").hide();
      $("#parent").show();
    } else {
      $("#page-priority").show();
      $("#parent").hide();
    }
  });
</script>
  
<div class="row">
  <div class="span8 offset2 center-col">
    <div class="sp8-content">
      <%= render 'form', :is_edit => "true" %>
    </div>
  </div>
</div>

<%= render 'shared/poemtext' %>
<%= render 'shared/image_upload' %>
<%= render 'shared/wmd_editor' %>
<%= render 'shared/music_upload' %>
