<div class="row">
  <div class="span6 offset3 page-header title">
    <h1>Edit page</h1>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    if ($("#page_category").val() == "Non-Menu") {
      $("#page-priority").hide();
      $("#parent").show();
    } else {
      $("#page-priority").show();
      $("#parent").hide();
    }
  });
</script>

<%= render 'form', :is_edit => "true" %>

<%= render 'shared/poemtext' %>
<%= render 'shared/image_upload' %>
<%= render 'shared/wmd_editor' %>
<%= render 'shared/music_upload' %>