<div class="row">
  <div class="span12 page-header title">
    <h1>New page</h1>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $("#page_category option[value='Non-Menu']").prop('selected', true);
    $("#page-priority").hide();
    $("#parent").show();
  });
</script>

<div class="row">
  <div class="span8 offset2 center-col">
    <div class="sp8-content">
      <%= render 'form', :is_edit => "false" %>
    </div>
  </div>
</div>

<%= render 'shared/poemtext' %>
<%= render 'shared/image_upload' %>
<%= render 'shared/wmd_editor' %>
<%= render 'shared/music_upload' %>
