<div class="row">
  <div class="span6 offset3 page-header title">
    <h1>New page</h1>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $("#page_category option[value='Non-Menu']").prop('selected', true);
    $("#page-priority").hide();
    $("#parent").show();
  });
</script>

<%= render 'form', :is_edit => "false" %>

<%= render 'shared/poemtext' %>
<%= render 'shared/image_upload' %>
<%= render 'shared/wmd_editor' %>
<%= render 'shared/music_upload' %>