<div class="row">
  <div class="span6 offset3 page-header">
    <h1>New page</h1>
  </div>
</div>

<%= render 'form' %>

<%= render 'shared/poemtext' %>
<%= render 'shared/image_upload' %>
<%= render 'shared/wmd_editor' %>
<%= render 'shared/music_upload' %>