<% title @page.name
meta_desc @page.name
meta_keywords @page.name %>
<div class="row">
  <div class="span12 page-header title">
    <ul class="breadcrumb" style="background: none;">
      <% myparents = @page.myparents %>
        <% myparents.reverse.each_with_index do |p, index| %>
          <% pp=Page.find(p) %>
          <li><%= link_to pp.name,"/" + pp.permalink %> <span class="divider">></span></li>  
        <% end %>
        <% unless myparents.count ==0 %>
          <li class="active"><%= @page.name %></li>
        <% end %>
    </ul>
    <h1><%= @page.name %></h1>
    <div class="pull-right">
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to 'Edit', edit_page_path(@page.id), :class => "btn btn-mini btn-warning" %>
        <td><%= link_to 'Delete', page_path(@page.id, :show => "true"), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
      <% end %>
    <% end %>
  </div>
  </div>
</div>

<div class="row">
  <div class="span8 offset2 center-col" role="content">
    <div class="sp8-content">
      <div class="main-content page_headers">
        <%= @page.content.html_safe.gsub(/\r\n?/,"").html_safe %>
        <p class="author muted" style="padding-top: 20px">
          (Last updated on <%= @page.updated_at.strftime("%b %d %Y at %l:%M %p") %>)
        </p>
      </div>
      <%= render "comments/disqus" %>
    </div>
  </div>

  <div class="span3 visible-desktop right-col">
    <div class="sidebar-menu relatedcontent">
      <% if @related_pages.present? && @related_pages.count > 0 %>
        <div class="sidebar-heading">
          <a class="collapse_related_content">Related Content</a>
        </div>
        <div class="collapse related_content" id="related_content">
          <% @related_pages.each do |rpage| %>
            <li class="related-content-list">
              <%= link_to rpage.name, page_path(rpage) %>
            </li>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
