<% title @page.name
meta_desc @page.name
meta_keywords @page.name %>
<div class="row">
  <div class="span6 offset3 page-header title">
    <ul class="breadcrumb" style="background: none;">
      <% myparents = @page.myparents %>
        <% myparents.reverse.each_with_index do |p, index| %>
          <% pp=Page.find(p) %>
          <li><%= link_to pp.name,"/" + pp.permalink %> <span class="divider">></span></li>  
        <% end %>
        <% unless myparents.count ==0 %>
          <li class="active"><%= @page.name %></li>
        <% end %>
    </ul>
    <h1><%= @page.name %></h1>
    <div class="pull-right">
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to 'Edit', edit_page_path(@page.id), :class => "btn btn-mini btn-warning" %>
        <td><%= link_to 'Delete', page_path(@page.id, :show => "true"), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
      <% end %>
    <% end %>
  </div>
  </div>
</div>
<div class="row">
  <div class="span6 offset3" role="content">
    <article class="main-content">
      <%= @page.content.html_safe.gsub(/\r\n?/,"").html_safe %> 
    </article>
    <p class="author muted" style="padding-top: 20px">
      (Last updated on <%= @page.updated_at.strftime("%b %d %Y at %l:%M %p") %>)
    </p>
    <%= render "comments/disqus" %>
  </div>
  <div class="span3 visible-desktop">
  <!-- Begin Related Content -->
    <% if @related_pages.present? && @related_pages.count > 0 %>
      <div class="right-sidebar" id="related_pages">
        <label for="relatedpages" class="sidebar-title"><span class="label">Related Content</span></label>
        <input class="rcin" type="checkbox" id="relatedpages" />
        <ol id="rpos">
        <% @related_pages.each do |rpage| %>
          <li class="content-indent">
            <%= link_to rpage.name, page_path(rpage) %>
          </li>
        <% end %>
        </ol>
      </div>
    <% end %>
    <!-- End Related Content -->
    </div>
  </div>
</div>
