<% title @page.name %>
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="span6 offset3 page-header">
    <h1><%= @page.name %></h1>
    <div class="pull-right">
    <% if user_signed_in? %>
      <% if current_user.role == "Admin" %>
        <%= link_to 'Edit', edit_page_path(@page), :class => "btn btn-mini btn-warning" %>
        <td><%= link_to 'Delete', page_path(@page), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
      <% end %>
    <% end %>
  </div>
  </div>
</div>
<div class="row">
  <div class="span6 offset3" role="content">
    <article>
      <%= @page.content.html_safe.gsub(/\r\n?/,"").html_safe %> 
    </article>
    <p class="author muted" style="padding-top: 20px">
      (Last updated on <%= @page.updated_at.strftime("%b %d %Y at %l:%M %p") %>)
    </p>
  </div>
</div>
