<div class="select-boxes-sidebar">
<%= collection_select(nil, :edition_id,  @editions,  :year, :name, {:prompt   => "Select Edition"}, {:id => 'editions_select', autofocus: :autofocus,'data-toggle' => "popover", 'data-placement' => "bottom", 'data-content'=>"Select Edition"})%>
<%= collection_select(nil, :book_id, @books, :id, :name, {:prompt   => "Select a Book"}, {:id => 'books_select','data-toggle' => "popover", 'data-placement' => "bottom", 'data-content'=>"Select a Book"})%>
<%= collection_select(nil, :canto_id, @cantos, :id, :no, {:prompt   => "Select a Canto"}, {:id => 'cantos_select','data-toggle' => "popover", 'data-placement' => "bottom", 'data-content'=>"Select a Canto"})%>
<%= collection_select(nil, :section_id, @sections, :id, :runningno, {:prompt   => "Select a Section"}, {:id => 'sections_select','data-toggle' => "popover", 'data-placement' => "bottom", 'data-content'=>"Select a Section"})%>
</div>
<div class="row">
<div id='one' class="span5">
</div>
<div class='merge-button'>
<button data-behavior='click-to-compare' class="btn btn-danger">Merge</button>
<button id='back-button' class="btn btn-inverse"><i class="icon-arrow-left"> Back</i></button></div>
<div id='other' class="span5">
</div>
</div>
<div id="loading">
  <%=image_tag("ajax-loader.gif", id: 'loading-image', alt: "Loading...")%>
</div>
<div id='compare' class="span12 offset3"></div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
<script type="text/javascript">
$(window).load(function() {
  if (window.location.search != '') {
    var arr = window.location.pathname.split(/\//);
    var years = window.location.search.split('&');
    years[0].match(/\d+/)[0];
    years[1].match(/\d+/)[0];
    $.when($('#editions_select').val(years[0].match(/\d+/)[0]).change()).done(function(a1){
      $.when($('#books_select option:eq('+(parseInt(arr[2]))+')').prop('selected', true).change()).done(function(a2){
        $.when($('#cantos_select option:eq('+(parseInt(arr[3]))+')').prop('selected', true).change()).done(function(a2){
          $.when($('#sections_select option:eq('+(parseInt(arr[4]))+')').prop('selected', true).change()).done(function(a3){
            $('#other_select').val(years[1].match(/\d+/)[0]).change()
          })
        })
      })
    })
  };
})
$(document).ready(function(){
  function getUnSelectedOptions(){
    str = ''
    $.each($('#editions_select option').not(':selected'), function(index,option) {
      str += option.outerHTML;
    })
    return str;
  }
  function createOtherSelectBox(){
    $('div#compare-with').remove();
    var other_select_box = '';
    $('.select-boxes-sidebar').append($.parseHTML( "<div id='compare-with'>Compare with<br><select id='other_select' data-behavior='get-other-section' >"+getUnSelectedOptions()+"</select></div>"));

  }
  function updateUrl(selectedOption,position){
    s = window.location.pathname.split(/\//)
    s[position] = selectedOption
    window.history.pushState('','',s.join('/') + window.location.search)
    $('#loading-image').hide();
  }
  function updateUrlQuery(selectedOption,position){
    queryString = window.location.search.split('&')
    queryString[position] = queryString[position].replace(/\d+/,selectedOption)
    window.history.pushState('','',window.location.pathname + queryString.join('&'))
    $('#loading-image').hide();
  }
  $('#editions_select').change(function(){
    if ($('#editions_select').val() != ''){
      createOtherSelectBox();
      $('#loading-image').show();
      $.ajax({
        url: "/compare/update_books",
        data: {
          edition_id : $('#editions_select').val()
        },
        dataType: "script",
        complete: updateUrlQuery($('#editions_select').val(),0)
      });
    }
  });
  $('#books_select').change(function(){
    if ($('#books_select').prop("selectedIndex") != 0){
      $('#loading-image').show();
      $.ajax({
        url: "/compare/update_cantos",
        data: {
          book_id : $('#books_select').val()
        },
        dataType: "script",
        complete: updateUrl($('#books_select').prop("selectedIndex"),2)
      });
    }
  });
  $('#cantos_select').change(function(){
    if ($('#cantos_select').prop("selectedIndex") != 0){
      $('#loading-image').show();
      $.ajax({
        url: "/compare/update_sections",
        data: {
          canto_id : $('#cantos_select').val()
        },
        dataType: "script",
        complete: updateUrl($('#cantos_select option:selected').text(),3)
      });
    }
  });
  $(document).on('click',"[data-behavior~=click-to-compare]",  function(){
    $('#loading-image').show();
    $('#compare').show()
    $('#one').hide()
    $('#other').hide()
    if($('#compare').text() == ''){
      showDiff(one,other);
    }
    $('#loading-image').hide();
    $('[data-behavior~=click-to-compare]').hide();
    $('#back-button').show()
  });
  $('#back-button').click(function(){
    $('#compare').hide()
    $('#one').show()
    $('#other').show('')
    $('#back-button').hide()
    $('[data-behavior~=click-to-compare]').show()
    $('.close').click()
  })
  function concatSection(section) {
    var str1 = ""
    $.each(section, function(section_id,stanza) {
      lines = stanza.cached_lines;
      $.each(lines, function(line_id, line) {
        str1 += line.line
        if (line_id != lines.length - 1)
          str1 += '\n';
      });
      str1 += '\n\n';
    })
    return str1;
  }
  jQuery.extend({
    getValues: function(url) {
      var result = null;
      $.ajax({
        url: url,
        type: 'get',
        dataType: 'json',
        async: false,
        success: function(data) {
          result = data;
        }
      });
      return result;
    }
  });
  function populateOneEdition(one,id,year){
    var section_no = one[0]
    $.each(one[1], function( stanza_id, stanza ) {
      str = '<p class="stanza"><a name="'+stanza.no+'" class="navstanza"></a>'
      $.each(stanza.cached_lines, function( line_id, line ) {
        str += '<span class="line">'+line.line+'</span>';
        if (line_id != stanza.cached_lines.length - 1)
          str += '<br>';
      })
      str += ' <span><a href="/read/'+section_no+'.'+stanza.runningno+'?edition='+year+'" class="muted pipes" rel="nofollow">'+section_no+'.'+stanza.runningno+'</a></span></p>'
      $('#'+id).append($.parseHTML( str ));
    });
  }
  $('#sections_select').change(function(){
    updateUrl($('#sections_select').prop("selectedIndex"),4)
    $('#back-button').click()
    $('#loading-image').show();
    $('#one').empty()
    $('#compare').empty()
    var year = $('#editions_select')[0].value
    var url = window.location.pathname.split('/compare')[1]
    var loc = "/read" + url + ".json?edition=" + year
    one = $.getValues(loc);
    if (one !== null){
      $('#one').append('<h3>'+$('#editions_select option:selected').text()+' Edition</h3>')
      populateOneEdition(one,'one',year);
    }
    else{
      $('#one').append('<h4> This section does not exists in '+$('#editions_select option:selected').text()+' Edition</h3>')
    }
    $('#loading-image').hide();
  });
  $(document).on('change',"[data-behavior~=get-other-section]",  function(){
    if ($('#other_select')[0].value != ''){
      updateUrlQuery($('#other_select').val(),1)
      $('#back-button').click()
      $('#loading-image').show();
      $('#other').empty();
      $('#compare').empty();
      var year = $('#other_select')[0].value;
      var url = window.location.pathname.split('/compare')[1]
      var loc = "/read" + url + ".json?edition=" + year
      other = $.getValues(loc);
      if (other !== null){
        $('#other').append('<h3>'+$('#other_select option:selected').text()+' Edition</h3>')
        populateOneEdition(other,'other',year);
        $("[data-behavior='click-to-compare']").css('display','block');
      }
      else{
        $('#other').append('<h4> This section does not exists in '+$('#other_select option:selected').text()+' Edition</h3>')
      }
      $('#loading-image').hide();
    }
  });
  function showDiff(one,other){
    var stanza_one = concatSection(one[1]);
    stanza_other = concatSection(other[1]);
    diff = JsDiff.diffWords(stanza_one,stanza_other);
    str = ''
    flag = 0
    prev = ''
    var added = 0, removed = 0;
    diff.forEach(function(part){
      if (part.value.trim().length == 0) {
        flag = 0;
        prev = ''
        return;
      }
      var color = part.added ? 'blue' :
      part.removed ? 'red' : 'inherit';
      part.added ? (added += 1) : (part.removed ? (removed += 1) : false)
      if (part.value[0].match(/[’,\?]/)) {
        str += "";
      } else if (part.value[0].match(/\./) && part.value[1] == " ") {
        str += ".\n\n";
        part.value = part.value.substring(2);
      } else {
        str += " ";
      }
      strikeSpan = part.removed ? 'strike' : 'span';
      str += "<" + strikeSpan + " style='color: " + color + "'>" + part.value + "</" + strikeSpan + ">";
      if (part.added && part.value.match(/[’,]/)) {
        flag = 1;
      } else if (part.removed && flag == 1) {
        flag = 0;
      }
      prev = part.value;
    });
    $('#compare').append(marked(str, {breaks: true}));
    $('#compare').before($.parseHTML( '<div class="alert" style="color:inherit"><a class="close" data-dismiss="alert">×</a>There were <span class="alert-success">' + added + ' additions and </span><span class="alert-error">' + removed + ' deletions.</span></div>' ));
  }
  function validateSelectBoxes(){
    $("select").each(function(){
      if ($(this).prop("selectedIndex") == 0){
        $(this).focus();
        $(this).popover('show')
        return false;
      }
      else{
        $(this).popover('hide')
      }
    });
  }
$( document ).ajaxComplete(function() {
  validateSelectBoxes()
});  
});
</script>

