<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4>
      <% unless @sender.name.blank? %>
        <%= @sender.name %> 
      <% else %>
        <%= @sender.username %> 
      <% end %>
      <% if @post.series_title.blank? %>
        wrote a post 
      <% else %>
        wrote a new post in the series "<%= @post.series_title %>" 
      <% end %>
      titled "<%= link_to @post.title, blog_post_url(@blog, @post) %>" on <%= link_to @blog.title, blog_url(@blog) %>.</h4>
		<% unless @post.excerpt.blank? %>
      <p>Excerpt:</p>
    	<p><%= @post.excerpt.gsub(/\r\n?/,"<br>").html_safe %></p>
      <p><%= link_to "Read more", blog_post_url(@blog, @post) %></p>
    <% else %>
      <% post_content = @post.content.gsub(/\r\n?/, "") %>
      <% stripped_content = strip_tags(post_content) %>
      <% if stripped_content.split(" ").length > 200 %>
        <%= post_content.split(" ").first(200).join(" ").html_safe %>...
        <p><%= link_to "Read more", blog_post_path(@blog, @post), {:class => "italics underline"} %></p>
      <% else %>
        <%= post_content.split(" ").first(200).join(" ").html_safe %>
      <% end %>
    <% end %>
  </body>
</html>
