<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4>
      <%= @name %>
      <% if @post.series_title.blank? %>
        wrote a post 
      <% else %>
        wrote a new post in the series "<%= @post.series_title %>" 
      <% end %>
      titled "<%= link_to @post.title, blog_post_url(@blog, @post) %>" on <%= link_to @blog.title, blog_url(@blog) %>.</h4>
		<% unless @post.excerpt.blank? %>
      <p>Excerpt:</p>
    	<p><%= @post.excerpt.gsub(/\r\n?/,"<br>").html_safe %></p>
      <p><%= link_to "Read more", blog_post_url(@blog, @post) %></p>
    <% else %>
      <% post_content = @post.content.gsub(/\r\n?/, "") %>
      <% stripped_content = strip_tags(post_content) %>
      <% if stripped_content.split(" ").length > 200 %>
        <%= post_content.split(" ").first(200).join(" ").html_safe %>...
        <p><%= link_to "Read more", blog_post_url(@blog, @post), {:class => "italics underline"} %></p>
      <% else %>
        <%= post_content.split(" ").first(200).join(" ").html_safe %>
      <% end %>
    <% end %>
    <div style="width:94%;margin:0 auto;min-width:220px;max-width:650px;text-align:left;font-family:arial;color:#ccc;font-size:11px;line-height:14px;">
    <% if @reciever.following? @blog %>
      <%= link_to "Unsubscribe", unsubscribe_blog_url(blog_id: @blog.id), :class => 'muted' %> from <%= @blog.title %><br/>
    <% elsif @reciever.following? @sender %>
      <%= link_to "Unsubscribe", unsubscribe_blog_url(blog_id: @blog.id, user_id: @sender.id), :class => 'muted' %> from <%= @blog.title %><br/>
    <% end %>      
      Add info@savitri.in to your address book to receive all emails for <%= @blog.title %>
    </div>
  </body>
</html>
