<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4><% unless @sender.name.blank? %><%= @sender.name %><% else %><%= @sender.username %><% end %> wrote a post titled "<%= link_to @post.title, blog_post_url(@blog, @post) %>" on <%= link_to @blog.title, blog_url(@blog) %>.</h4>
    <p>
      <p>Excerpt:</p>
			<% unless @post.excerpt.blank? %>
      	<p><%= @post.excerpt.gsub(/\r\n?/,"<br>").html_safe %></p>
        <p><%= link_to "Read more", blog_post_url(@blog, @post), {:class => "overrideanchor"} %></p>
      <% else %>
        <% post_content = @post.content.gsub(/\r\n?/, "").html_safe %>
        <% if post_content.length <= 200 %>
         	<%= post_content %>
        <% else %>
          <%= post_content.split(" ").first(200).join(" ").html_safe %>...
        	<p><%= link_to "Read more", blog_post_url(@blog, @post), {:class => "overrideanchor"} %></p>
        <% end %>
      <% end %>
    </p>
  </body>
</html>
