<%= form_for(@stanza) do |f| %>
  <% if @stanza.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stanza.errors.count, "error") %> prohibited this stanza from being saved:</h2>

      <ul>
      <% @stanza.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stanzno %><br />
    <%= f.number_field :stanzno , :value => Stanza.maximum("stanzno")+1 %>
  </div>
  <div class="field">
    <%= f.label :canto_id %><br/>
    <%= f.collection_select(:canto_id, Canto.all, :id, :cantono) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>