<p id="<%= Section.find(stanza.section).no %>.<%= stanza.runningno %>">
<% stanza.lines.each_with_index do |lin,index| %> 
 <div id=<%= lin.id %>>	<%= lin.line %> 
 	 <% if stanza.lines.count - 1 == index %>
 	 <% section = Section.find(stanza.section) %>
 	 <% anchor_t = section.no.to_s + "." + stanza.runningno.to_s %>
 	 <% bookid = section.canto.book.id %>
	&nbsp;<span class="apiparam"><%= link_to "||"+anchor_t+"||", '/read/'+Section.find(stanza.section).no.to_s + "." + stanza.runningno.to_s  %></span>
 <% end %>
 </div>
<% end %>
</p>
