<h1>Listing stanzas</h1>

<table>
  <tr>
    <th>Stanzno</th>
    <th>Canto (No) Name</th>
    <th></th>
    <th></th>
  </tr>

<% @stanzas.each do |stanza| %>
  <tr>
    <td><%= stanza.stanzno %></td>
     <% @canto = Canto.find(stanza.canto_id) %>
    <td>(<%= @canto.cantono %>)
      <%= Canto.find(stanza.canto_id).title %>
    </td>
    <td><%= link_to 'Show', stanza %></td>
    <td>
    <% if can? :update, stanza %>
    <%= link_to 'Edit', edit_stanza_path(stanza) %>
    <% end %>
    </td>
    <td>
    <% if can? :destroy, stanza %>
      <%= link_to 'Destroy', stanza, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />
<% if can? :create, Stanza %>
<%= link_to 'New Stanza', new_stanza_path %>
<% end %>
