<div class="row">
  <div class="span8 offset2 center-col">
    <div class="sp8-content">
      <p id="notice"><%= notice %></p>

      <p>
        <b>no:</b>
        <%= @stanza.no %>
      </p>

      <p>
      	<b>Lines in this Stanza</b>
      	<br/>
      	<% @stanza.lines.each do |stan| %>
      		<%= stan.line %><br/>
      	<% end %>
      </p>

      <% if can? :update, @stanza %>
      <%= link_to 'Edit', edit_stanza_path(@stanza) %> |
      <% end %>
      <%= link_to 'Back', stanzas_path %> | 
      <% if can? :create, Stanza %>
      <%= link_to 'New Stanza', new_stanza_path %>
      <% end %>

    </div>
  </div>
</div>
