<%= form_for @medium do |f| %>
<div class="row">
  <div class="span6 offset3">
    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field span6' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :subtitle, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :subtitle, :class => 'text_field span6' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :summary, :class => "control-label" %>
      <div class="controls">
        <%= f.text_area :summary, :class => "text_field span6", :style => "resize: none", :rows => "5" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :image_url, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :image_url, :class => 'text_field span6' %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span6 offset3">
    <div class="control-grp" style="text-align: center">
      <%= f.submit nil, :class => 'btn btn-success', :id=>"new-medium" %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), media_path, :class => 'btn' %>
    </div>
  </div>
</div>
<% end %>
