<%= form_for @medium do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field sp8-form' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :subtitle, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subtitle, :class => 'text_field sp8-form' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :summary, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :summary, :class => "text_field sp8-form", :style => "resize: none", :rows => "5" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :image_url, :class => 'text_field sp8-form' %>
    </div>
  </div>
  <div class="control-grp" style="text-align: center">
    <%= f.submit nil, :class => 'btn btn-success', :id=>"new-medium" %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), media_path, :class => 'btn' %>
  </div>
<% end %>
