<h1>Listing media</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Subtitle</th>
    <th>Summary</th>
    <th>Image url</th>
    <th>Category</th>
    <th>Language</th>
    <th>Explicit</th>
    <th>Block</th>
    <th>Complete</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @media.each do |medium| %>
  <tr>
    <td><%= medium.title %></td>
    <td><%= medium.subtitle %></td>
    <td><%= medium.summary %></td>
    <td><%= medium.image_url %></td>
    <td><%= medium.category %></td>
    <td><%= medium.language %></td>
    <td><%= medium.explicit %></td>
    <td><%= medium.block %></td>
    <td><%= medium.complete %></td>
    <td><%= link_to 'Show', medium %></td>
    <td><%= link_to 'Edit', edit_medium_path(medium) %></td>
    <td><%= link_to 'Destroy', medium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Medium', new_medium_path %>
