<div id="loading">
  <%=image_tag("Mother\'s Symbol Large.png", id: 'loading-image', class: 'mother_symbol', alt: "Loading...", width: '5%')%>
</div>
<%= javascript_tag do %>
  $('#loading-image').css('display', 'none');
  window.blog_url = "<%=j @blog.slug %>";
<% end %>
<div class="row">
  <div class="span9 center-col">
    <h2 class='text-center'>Archives</h2>
    <% unless @blogposts.length == 0 %>
    <ol class='archives-menu' style='margin-left:0px;'>
    <% @blogposts.each do |year, count| %>
      <li class="listi">
        <label for="f<%= year %>"  onclick="month_wise_post_count(<%=year%>);"><span class="ltag"><%=h year %> (<%= count %>)</span></label>
        <input class="year textin" type="checkbox" id="f<%= year %>">
        <ol id='<%=year%>'></ol>
      </li>
      <% end %>
    </ol>
    <% end %>
  </div>
  <div class="span3 visible-desktop right-col">
    <!-- Begin Latest comments -->
    <div class="sidebar-menu">
      <div class="sidebar-heading">
        <a class="collapse_comments">Recent Comments</a>
      </div>
      <div class="collapse recent_comments" id="recent_comments">
      </div>
    </div>
    <!-- Begin DatePicker -->
    <div class="visible-desktop datepicker">
      <div class="datepicker-title">Search by Date</div>
    </div>
  </div>
</div>
