<%= form_for @post, :url => urler,:html => {:multipart=>true } do |f| %>
<div class="row">
  <div class="span6 offset3">
    <%= f.hidden_field :blog_id, :class=> 'text_field', :value=> @post.blog_id %>
    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field span6' %>
      </div>
    </div>
    <% if current_user.admin? && act == "new" %>
    <div class="control-group">
      <%= f.label "Publish ", :class => 'control-label', :style=>"float: left;" %> &nbsp;
      <%= radio_button_tag 'size', "now", true, :style => "vertical-align: baseline" %><span class="label" style="margin-right: 10px; margin-left: 10px">Immediately</span> 
      <%= radio_button_tag 'size', "later", false, :style => "vertical-align: baseline" %><span class="label label-inverse" style="margin-right: 10px; margin-left: 10px">Schedule</span> <br/><br/>
      <div class="controls", id="publishat", style="display:none;" >
        <%= f.datetime_select :published_at, {:use_short_month=>"true", :start_month => Time.now.month, :end_year=>Time.now.year,:order => [:day, :month, :year, :hour, :minute], :datetime_separator => "&nbsp;at&nbsp;&nbsp;"}, {:class=>"span1"} %>
      </div>
    </div>
    <% end %>
    <div class="control-group">
      <%= f.label :excerpt, :class => "control-label" %>
      <div class="controls">
        <%= f.text_area :excerpt, :class => "text_field span6", :style => "resize: none", :rows => "5" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :content, :class => 'control-label' %>
      <div class='wmd-panel'>
        <div class="controls">
          <div id='wmd-button-bar'><span id="previewbtn" class="btn btn-info pull-right" style="min-width: 46px;">Preview</span></div>
          <%= f.text_area :md_content, :class=> "span6", :id=>"wmd-input", :style => "resize: none" %>
          <div id="wmd-preview" class="wmd-preview well well-small" style="display: none; min-height: 490px"></div>
          <%= f.text_area :content, :style=> "display: none" %>        
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :tag_list, "Tags (separated by commas)", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :tag_list, :class => 'text_area span6' %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span6 offset3">
    <div class="control-grp" style="text-align: center">
      <%= f.submit nil, :class => 'btn btn-success', :id=>"new-blog-post", :disabled=>"disabled" %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), blog_posts_path, :class => 'btn' %>
    </div>
  </div>
</div>
<% end %>
