<%= form_for @post, :url => urler,:html => { :class => 'form-horizontal' } do |f| %>
<div class="span10">
  <%= f.hidden_field :blog_id, :class=> 'text_field', :value=>@post.blog_id %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class='wmd-panel'>
      <div class="controls">
      <div id='wmd-button-bar'></div>
        <%= f.text_area :md_content, :class=> "wmd-input", :id=>"wmd-input" %>
        <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
        <%= f.text_area :content, :style=> "display: none" %>        
      </div>
    </div>
    </div>
  <div class="control-group">
    <%= f.label :tag_list, "Tags (Separated by Commas)",:class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tag_list, :class => 'text_area' %>
    </div>
  </div>
   
   <hr />
</div>
</div>
<div class="form-actions">
  <%= f.submit nil, :class => 'btn btn-primary', :id=>"new-blog-post" %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")), blogs_path, :class => 'btn' %>
</div>
</div> 
</div>
<% end %>
    <script type="text/javascript">
        (function () {
            var converter1 = Markdown.getSanitizingConverter();
            var editor = new Markdown.Editor(converter1);
            editor.run();
            editor.hooks.set("insertImageDialog", function (callback) {
            alert("Please click okay to start scanning your brain...");
            setTimeout(function () {
              var prompt = "We have detected that you like cats. Do you want to insert an image of a cat?"; 
              if (confirm(prompt))
                callback("https://si0.twimg.com/profile_images/3132381314/a5adb1e8104f1343037b67ebebca22c2_normal.jpeg")
              else
                callback(null);
            }, 2000);
        return true; // tell the editor that we'll take care of getting the image url
        });
         var help = function () { alert("Do you need help?"); }
            
        })();
    </script>
