<%= form_for @post, :url => urler,:html => {:multipart=>true } do |f| %>
<div class="row">
  <div class="span6 offset3">
    <%= f.hidden_field :blog_id, :class=> 'text_field', :value=> @post.blog_id %>
    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field span6' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :content, :class => 'control-label' %>
      <div class='wmd-panel'>
        <div class="controls">
          <div id='wmd-button-bar'><span id="preview" class="btn btn-info pull-right">Preview</span></div>
          <%= f.text_area :md_content, :class=> "span6", :id=>"wmd-input", :style => "resize: none" %>
          <div id="wmd-preview" class="wmd-preview well" style="display: none"></div>
          <%= f.text_area :content, :style=> "display: none" %>        
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :tag_list, "Tags (Separated by Commas)",:class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :tag_list, :class => 'text_area span6' %>
      </div>
    </div>
  </div>
  <div class="span6 offset3">
    <div class="control-grp" style="text-align: center">
      <%= f.submit nil, :class => 'btn btn-success', :id=>"new-blog-post" %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), blogs_path, :class => 'btn' %>
    </div>
  </div>
</div>
<script type="text/javascript">
  //hack until we do The Awesome Markdown Editor 
  $("#preview").on("click", function() {
    if ($("#wmd-input").is(":visible")) {
      $("#wmd-input").hide();
      $("#wmd-preview").show()
      $(this).text("Edit");
    } else {
      $("#wmd-preview").hide();
      $("#wmd-input").show();
      $(this).text("Preview");
    }
  });
</script>
<% end %>
