<%- model_class = Post -%>
<!-- Main Page Content -->
<% base_url = request.protocol + request.host_with_port %>
<% feed_url = base_url + blog_path(@blog) + "/feed" %>
<% tag_type = "none" %>
<% content_for :head do %>
<%= auto_discovery_link_tag :atom, feed_url %>
<%= auto_discovery_link_tag :rss,  feed_url %>
<% end %>
<% pagetitle = 'Archives | ' + @blog.cached_title %>
<% title pagetitle 
meta_desc pagetitle
meta_keywords pagetitle %>
<div itemscope itemtype="http://schema.org/Article" class="row">
  <div class="span12">
    <div class="page-header title">
      <h1 itemprop="name"><%= link_to @blog.cached_title, blog_posts_path %></h1>
      <div style="margin-top: 20px">
        <%= link_to "Feed", feed_url, {:class => "muted-anchor"} %>
        <span class="muted">&bull;</span>
        <a href="#" value="Subscribe" class="muted-anchor" onclick="(function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})()">Subscribe</a>
        <span id="follow_blog"><%= render :partial => "shared/follow_blog", :locals => {:blog => @blog} %></span>
      </div>
    </div>
  </div>
</div>

<%= render 'posts/archives'  %>
