<%- model_class = Post -%>
<!-- Main Page Content -->
<% @blog = Blog.cached_find_by_slug(params[:blog_id]) %>
<% base_url = request.protocol + request.host_with_port %>
<% feed_url = base_url + blog_path(@blog) + "/feed" %>
<% tag_base_url = base_url + blog_posts_path + "/tags/" %>
<% tag_feed_url = "" %>
<% tag_type = "none" %>
<% if params[:tag] %>
  <% if params[:tag].start_with?("@") %>
    <% tag_type = "series" %>
  <% else %>
    <% tag_type = "tag" %>
  <% end %>
<% end %>
<% content_for :head do %>
  <% if tag_type === "none" %>
    <%= auto_discovery_link_tag :atom, feed_url %>
    <%= auto_discovery_link_tag :rss,  feed_url %>
  <% else %>
    <% tag_feed_url = tag_base_url + params[:tag] + "/feed"%>
    <%= auto_discovery_link_tag :atom, tag_feed_url %>
    <%= auto_discovery_link_tag :rss,  tag_feed_url  %>
  <% end %>
<% end %>
<% pagetitle = "" %>
<% if params[:tag] %>
  <% pagetitle += params[:tag] + " | "%>
<% end %>
<% pagetitle += @blog.cached_title %>
<% if params[:page] %>
  <% pagetitle += " | Page " + params[:page] %>
<% end %>
<% title pagetitle %>
<div itemscope itemtype="http://schema.org/Article" class="row">
  <div class="dynamicspan span6 offset3">
    <div class="page-header title">
      <h1 itemprop="name"><%= link_to @blog.cached_title, blog_posts_path %></h1>
      <% if tag_type === "none" %>
        <h3 class="blog-subtitle"><%= @blog.cached_subtitle %></h3>
      <% elsif tag_type == "series" %>
        <% unless @posts.empty? %>
          <h3 class="blog-subtitle">Serialised in “<%= @posts[0].series_title %>”</h3>
        <% end %>
      <% else %>
        <h3 class="blog-subtitle">Filed as “<%= params[:tag] %>”</h3>
      <% end %>
      <div style="margin-top: 20px">
        <% if tag_type === "none" %>
          <i class="icon-rss muted"></i>
          <a href=<%= feed_url %> class="muted-anchor">Feed</a>
          <span class="muted">&bull;</span>
          <a href="#" value="Subscribe" class="muted-anchor" onclick="(function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})()">Subscribe</a>
        <% else %>
          <i class="icon-rss muted"></i>
          <a href=<%= tag_feed_url %> class="muted-anchor"><%= tag_type == "series" ? "Series Feed" : "Tag Feed" %></a>
          <% link_to (tag_type === "series" ? "Series Feed" : "Tag Feed"), tag_feed_url %>
          <span class="muted">&bull;</span>
          <a href="#" value="Subscribe" class="muted-anchor" onclick="(function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})()">Subscribe</a>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Main Blog Content -->
<div class="row">
  <div class="span6 offset3 dynamicspan">
    <% @posts.each do |post| %>
      <section class="snippet">
        <% unless tag_type === "series" %>
          <% if post.cached_series_title %>
            <% series_tag_arr = post.tag_counts.select{|tag| tag.name.start_with?("@")} %>
            <% unless series_tag_arr.empty? %>
              <% series_tag = series_tag_arr[0].name %>
            <% end %>
            <% if series_tag %>
              <div class="visible-desktop post-series-sidebar span2">
                <h4 class="post-series"><%= link_to post.cached_series_title + " ↩", tag_base_url + series_tag, { :title => "View series" } %></h4>
              </div>
            <% else %>
              <h4 class="post-series span2 visible-desktop post-series-sidebar"><%= post.cached_series_title %></h4>
              <h4 class="post-series hidden-desktop"><%= post.cached_series_title %></h4>
            <% end %>
          <% end %>
        <% end %>
        <h2><%= link_to post.cached_title,  blog_post_path(post.cached_blog,post) %></h2>
        <div>
          <span class="pull-right">
            <% if can? :update, post %>
              <%= link_to 'Edit', edit_blog_post_path(post.cached_blog,post), :class => 'btn btn-mini btn-warning' %>
            <% end %>
          </span>
          <h5 class="blog-author">by <%= link_to post.cached_blog.cached_user.cached_username, post.cached_blog.cached_user, {:class => "underline"} %> on <%= post.cached_published_at.strftime("%a, %b %d %Y at %l:%M %p") %> / <%= link_to (pluralize post.cached_comments_count, "comment") , blog_post_path(post.cached_blog, post) + "#comments", {:class => "underline"} %></h5>
          <% unless post.cached_excerpt.blank? %>
            <p><%= post.cached_excerpt.gsub(/\r\n?/,"<br>").html_safe %></p>
            <p><em><%= link_to "Read more", blog_post_path(post.cached_blog, post), {:class => "underline"} %></em></p>
          <% else %>
            <% post_content = post.cached_content.gsub(/\r\n?/, "") %>
            <% stripped_content = strip_tags(post.cached_content) %>
            <% if stripped_content.split(" ").length > 200 %>
              <div class="main-content">
                <%= post_content.split(" ").first(200).join(" ").html_safe %>...
              </div>
              <p><em><%= link_to "Read more", blog_post_path(post.cached_blog, post), {:class => "underline"} %></em></p>
            <% else %>
              <div class="main-content">
                <%= post_content.split(" ").first(200).join(" ").html_safe %>
              </div>
            <% end %>
          <% end %>
        </div>
      </section>
    <% end %>
    <nav id="paginator">
      <ul class="pager">
        <li class="previous">
          <%= link_to_previous_page @posts, "‹ Newer" %>
        </li>
        <li class="next">
          <%= link_to_next_page @posts, "Older ›" %>
        </li>
    </nav>
  </div>
<!-- Main Blog Content End -->
<!--  SideBar Begin -->
  <div class="span3 visible-desktop">
    <% if can? :update, @blog %>
      <div class="right-sidebar">
        <div class="sidebar-title"><span class="label">Manage blog</span></div><br>
        <div class="btn-grp sidebar-title">
          <%= link_to 'New post', new_blog_post_path, :class => 'btn btn-info' %>
          <% unless Post.cached_draft_count(@blog.id).zero? %>
            <br/><br/>
            <%= link_to 'Scheduled posts', {:controller => "posts", :action => "scheduled" }, :class => 'btn btn-success' %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if params[:tag] %>
      <% if @tags.length > 0 %>
        <div class="right-sidebar" id="tag_cloud">
          <label for="related-tag" class="sidebar-title"><span class="label">Related tags</span></label>
          <input class="arcin" type="checkbox" id="related-tag" /> 
          <ol>
            <% count = 0 %>
            <li class="listi">
            <% tag_cloud @tags, %w[t s m l] do |tag, css_class| %>
              <%= link_to tag_path(params[:blog_id], tag.name) do %>
                <span class="sidebar-links <%= css_class %>"><%= tag.name %></span>
              <% end %>
              <% unless count == @tags.length - 1 %>
                <span class="tag-sep">&bull;</span>
              <% end %>
              <% count += 1 %>
            <% end %>
            </li>
          </ol>
        </div>
      <% end %>
    <% else %>
      <% if @tags.length > 0 %>
        <div class="right-sidebar" id="tag_cloud">
          <label for="top-tag" class="sidebar-title"><span class="label">Top tags</span></label>
          <input class="arcin" type="checkbox" id="top-tag" /> 
          <ol>
            <li class="listi">
            <% count = 0 %>
            <li class="listi">
            <% tag_cloud @tags, %w[t s m l] do |tag, css_class| %>
              <%= link_to tag_path(params[:blog_id], tag.name) do %>            
                <span class="sidebar-links <%= css_class %>"><%= tag.name %></span>
              <% end %>
              <% unless count == @tags.length - 1 %>
                <span class="tag-sep">&bull;</span>
              <% end %>
              <% count += 1 %>
            <% end %>
            </li>
          </ol>
        </div>
      <% end %>
      <!-- Begin Latest comments -->
      <div class="archives right-sidebar" id="recent_comments">
        <label for="recentcomments" class="sidebar-title"><span class="label">Recent comments</span></label>
        <input class="rcin" type="checkbox" id="recentcomments" />
        <ol id="rcom"></ol>
      </div><!-- end Latest comments -->

      <!-- Begin Latest posts -->
      <div class="archives right-sidebar" id="recent_posts">
        <label for="recentposts" class="sidebar-title"><span class="label">Recent posts</span></label>
        <input class="rcin" type="checkbox" id="recentposts" />
        <ol id="rpos"></ol>
      </div><!-- end Latest posts -->

      <div class="archives right-sidebar">
        <% unless @blogposts.length == 0 %>
          <label for="archtag" class="sidebar-title"><span class="label">Archives</span></label>
          <input class="arcin" type="checkbox" id="archtag" /> 
          <ol>
          <% post_years = @blogposts.group_by { |t| t.published_at.beginning_of_year }.sort.reverse %>
          <% post_years.each do |year, posts| %>
            <li class="listi">
              <label for="f<%= year.strftime("%m%Y") %>"><span class="ltag"><%=h year.strftime("%Y") %> (<%= posts.length %>)</span></label>
              <input class="textin" type="checkbox" id="f<%= year.strftime("%m%Y") %>"> 
              <ol>  
                <% post_months = posts.group_by {|t| t.published_at.beginning_of_month } %>
                <% post_months.each do |month, month_posts| %>
                  <li class="subfolder">  
                    <label for="f<%= month_posts.first.published_at %>"><span class="ltag"><%=h month_posts.first.published_at.strftime("%B") %> (<%= month_posts.length %>)</span></label>
                    <input class="textin" type="checkbox" id="f<%= month_posts.first.published_at %>"> 
                    <ol>
                      <% for post in month_posts %>
                        <li class="file sidebar-links"><a href="#"><%=h link_to post.cached_title, blog_post_path(post.cached_blog,post) %></a></li>
                      <% end %>
                    </ol>
                  </li>
                <% end %>
              </ol>
            </li>
          <% end %>
        <% end %>
      </ol>
      </div>
    <% end %>
  </div>
</div>
<!-- End Sidebar Content -->
