<%- model_class = Post -%>
<!-- Main Page Content -->
<% content_for :head do %>
<% @current_link = request.protocol+request.host_with_port+params[:blog].to_s+blog_posts_path %>
<%= auto_discovery_link_tag :atom, @current_link+".atom" %>
<%= auto_discovery_link_tag :rss,  @current_link+".rss" %>
<% end %>
<% @blog = Blog.find_by_slug(params[:blog_id]) %>
<% title @blog.title %>
<div class="row">
  <div class="span6 offset3 dynamicspan">
    <h1 class="page-header title" style="margin-bottom: 20px">
      <%= link_to @blog.title, blog_posts_path %>
      <%= link_to "", request.protocol + request.host_with_port + blog_posts_path + ".atom", :class => "icon-rss", :title => "Subscribe to feed", :style => "font-size: 65%" %><br>
      <small class="blog-subtitle"><%= @blog.subtitle %></small>
    </h1>
  </div>
</div>
<!-- Main Blog Content -->
<div class="row">
  <div class="span6 offset3 dynamicspan">
    <% @posts.each do |post| %>
      <section class="snippet">
        <h2><%= link_to post.title,  blog_post_path(post.blog,post) %></h2>
        <div>
          <span class="pull-right">
            <% if can? :update, post %>
              <%= link_to 'Edit', edit_blog_post_path(post.blog,post), :class => 'btn btn-mini btn-warning' %>
            <% end %>
          </span>
          <h5 class="blog-author">by <%= link_to post.blog.user.username, post.blog.user, {:class => "overrideanchor"} %> on <%= post.published_at.strftime("%a, %b %d %Y at %l:%M %p") %> / <%= link_to (pluralize post.comments.count, "comment") , blog_post_path(post.blog, post) + "#comments", {:class => "overrideanchor"} %></h5>
          <% unless post.excerpt.blank? %>
            <p><%= post.excerpt.gsub(/\r\n?/,"<br>").html_safe %></p>
            <p><%= link_to "Read more", blog_post_path(post.blog, post), {:class => "overrideanchor"} %></p>
          <% else %>
            <% post_content = post.content.gsub(/\r\n?/, "").html_safe %>
            <% if post_content.length <= 200 %>
              <%= post_content %>
            <% else %>
              <%= post_content.split(" ").first(200).join(" ").html_safe %>...
              <p><%= link_to "Read more", blog_post_path(post.blog, post), {:class => "overrideanchor"} %></p>
            <% end %>
          <% end %>
        </div>
      </section>
    <% end %>
    <div id="paginator">
      <%= paginate @posts, :param_name => :page %>
    </div>
  </div>
<!-- Main Blog Content End -->
<!--  SideBar Begin -->
  <div class="span3 visible-desktop">
    <% if can? :update, @blog %>
      <div class="right-sidebar">
        <div class="sidebar-title"><span class="label">Manage blog</span></div><br>
        <div class="btn-grp sidebar-title">
          <%= link_to 'New post', new_blog_post_path, :class => 'btn btn-info' %>
          <% unless Post.draft.count.zero? %>
            <br/><br/>
            <%= link_to 'Manage Scheduled Posts', {:controller => "posts", :action => "scheduled" }, :class => 'btn btn-success' %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if params[:tag] %>
      <% tags = @posts.tag_counts.order('tags_count desc').reject{|tag| tag.name.downcase == params[:tag].downcase}.first(50).sort_by{|tag| tag.name.downcase} %>
      <% if tags.length > 0 %>
        <div class="right-sidebar" id="tag_cloud">
          <div class="sidebar-title"><span class="label">Related tags</span></div><br>
          <% tag_cloud tags, %w[t s m l] do |tag, css_class| %>
            <%= link_to tag_path(params[:blog_id], tag.name) do %>
              <span class="sidebar-links <%= css_class %>"><%= tag.name %></span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <% tags = @posts.tag_counts.order('tags_count desc').first(50).sort_by{|tag| tag.name.downcase} %>
      <% if tags.length > 0 %>
        <div class="right-sidebar" id="tag_cloud">
          <div class="sidebar-title"><span class="label">Top tags</span></div><br>
          <% tag_cloud tags, %w[t s m l] do |tag, css_class| %>
            <%= link_to tag_path(params[:blog_id], tag.name) do %>
              <span class="sidebar-links <%= css_class %>"><%= tag.name %></span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <!-- Begin Latest Comments -->
    <% recentcomments = Comment.cached_recent(@blog) %>
    <% unless recentcomments.count.zero? %>
      <div class="archives right-sidebar" id="recent_comments">
        <%= render 'shared/recent_comment' %>
      </div>
    <% end %>
    <% unless params[:tag] %>
      <div class="archives right-sidebar">
        <% unless @blogposts.length == 0 %>
          <div class="sidebar-title"><span class="label">Archives</span></div><br>
          <% @post_years = @blogposts.group_by { |t| t.created_at.beginning_of_year } %>
          <% @post_years.sort.reverse.each do |year, posts| %>
            <li class="listi">
              <label for="f<%= year.strftime("%m%Y") %>"><span class="ltag"><%=h year.strftime("%Y") %></span></label>
              <input class="textin" type="checkbox" id="f<%= year.strftime("%m%Y") %>"> 
              <ol>  
                <% post_months = posts.group_by {|t| t.created_at.beginning_of_month } %>
                <% post_months.each do |month, month_posts| %>
                  <li class="subfolder">  
                    <label for="f<%= month_posts.first.created_at %>"><span class="ltag"><%=h month_posts.first.created_at.strftime("%B") %></span></label>
                    <input class="textin" type="checkbox" id="f<%= month_posts.first.created_at %>"> 
                    <ol>
                      <% for post in month_posts %>
                        <li class="file sidebar-links"><a href="#"><%=h link_to post.title, blog_post_path(post.blog,post) %></a></li>
                      <% end %>
                    </ol>
                  </li>
                <% end %>
              </ol>
            </li>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<!-- End Sidebar Content -->
