<%- model_class = Post -%>
<!-- Main Page Content -->
<div id='flash_error'></div>
<% @blog = Blog.cached_find_by_slug(params[:blog_id]) %>
<% base_url = request.protocol + request.host_with_port %>
<% feed_url = base_url + blog_path(@blog) + "/feed" %>
<% tag_base_url = base_url + blog_posts_path + "/tags/" %>
<% tag_feed_url = "" %>
<% tag_type = "none" %>
<% if params[:tag] %>
  <% if params[:tag].start_with?("@") %>
    <% tag_type = "series" %>
  <% else %>
    <% tag_type = "tag" %>
  <% end %>
<% end %>
<% content_for :head do %>
  <% if tag_type === "none" %>
    <%= auto_discovery_link_tag :atom, feed_url %>
    <%= auto_discovery_link_tag :rss,  feed_url %>
  <% else %>
    <% tag_feed_url = tag_base_url + params[:tag] + "/feed"%>
    <%= auto_discovery_link_tag :atom, tag_feed_url %>
    <%= auto_discovery_link_tag :rss,  tag_feed_url  %>
  <% end %>
<% end %>
<% pagetitle = "" %>
<% if params[:tag] %>
  <% pagetitle += params[:tag] + " | "%>
<% end %>
<% pagetitle += @blog.cached_title %>
<% if params[:page] %>
  <% pagetitle += " | Page " + params[:page] %>
<% end %>
<% title pagetitle %>

<div class="row">
  <div class="span12 dynamicspan">
    <div class="page-header title">
      <h1><%= link_to @blog.cached_title, blog_posts_path %></h1>
      <div style="margin-top: 20px">
        <%= link_to 'Archives', archives_path, {class: 'muted'} %>
        <span class="muted">&bull;</span>
        <%= link_to "Feed", feed_url, {:class => "muted-anchor"} %>
        <span class="muted">&bull;</span>
        <a href="#" value="Subscribe" class="muted-anchor" onclick="(function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})()">Subscribe</a>
        <span id="follow_blog"><%= render :partial => "shared/follow_blog", :locals => {:blog => @blog} %></span>
      </div>
    </div>
  </div>
</div>

<div id="content" class="row">
  <table border="0" cellpadding="0" cellspacing="0" class="columns" width="100%">
    <!-- START CENTER COL -->

    <!-- Pagination Links -->
    <nav id="paginator" class="span9">
      <ul class="pager">
      <span ><%= pluralize @blogposts.count, "blog" %> found</span>
        <li class="previous">
          <%= link_to_previous_page @posts, "‹ Previous 20 Posts" %>
        </li>
        <li class="next">
          <%= link_to_next_page @posts, "Next 20 Posts ›" %>
        </li>
    </nav>

    <tr>
      <td class="dynamicspan span10 center-col">
        <!-- if article.access_denied -->
        <div id="message_display" class="message" style="display: none;"></div>

        <div class="dayArticles">
          <% @posts.each do |post| %>
            <section class="snippet">
              <% unless tag_type === "series" %>
                <% unless post.cached_series_title.blank? %>
                  <% series_tag_arr = post.tag_counts.select{|tag| tag.name.start_with?("@")} %>
                  <% unless series_tag_arr.empty? %>
                    <% series_tag = series_tag_arr[0].name %>
                  <% end %>
                  <% if series_tag %>
                    <div class="visible-desktop">
                      <h4 class="post-series"><%= link_to post.cached_series_title, tag_base_url + series_tag, { :title => "View series" } %></h4>
                    </div>
                  <% else %>
                    <h4 class="post-series visible-desktop"><%= post.cached_series_title %></h4>
                    <h4 class="post-series hidden-desktop"><%= post.cached_series_title %></h4>
                  <% end %>
                <% end %>
              <% end %>
              <h2><%= link_to post.cached_title,  blog_post_path(post.cached_blog,post) %>
              <% if current_user.nil? || !current_user.admin? %>
                <% if post.featured? %>
                  <i class="icon-star pull-right"></i>
                <% end %>
              <% else %>
                <%= link_to '', update_featured_status_path(post.cached_blog,post), id: post.url, :class => toggle_class(post), remote: true %>      
              <% end %>
              </h2>
              <h4 class="post-subtitle"><%= post.cached_subtitle %></h4>
              <div>
                <span class="pull-right">
                  <% if can? :update, post %>
                    <%= link_to 'Edit', edit_blog_post_path(post.cached_blog,post), :class => 'btn btn-mini btn-warning' %>
                  <% end %>
                </span>
                <h5><span class="blog-author">by <%= link_to (post.cached_author.name.blank? ? post.cached_author.username : post.cached_author.name), post.cached_author, {:class => "underline"} %> on <%= post.cached_published_at.strftime("%a, %b %d %Y at %l:%M %p") %></span></h5>
                <% unless post.cached_excerpt.blank? %>
                  <p><%= post.cached_excerpt.gsub(/\r\n?/,"<br>").html_safe %></p>
                  <p><em><%= link_to "Read more", blog_post_path(post.cached_blog, post), {:class => "underline"} %></em></p>
                <% else %>
                  <% post_content = post.cached_content.gsub(/\r\n?/, "") %>
                  <% stripped_content = strip_tags(post.cached_content) %>
                  <% if stripped_content.split(" ").length > 200 %>
                    <div class="main-content">
                      <%= post_content.split(" ").first(200).join(" ").html_safe %>...
                    </div>
                    <p><em><%= link_to "Read more", blog_post_path(post.cached_blog, post), {:class => "underline"} %></em></p>
                  <% else %>
                    <div class="main-content">
                      <%= post_content.split(" ").first(200).join(" ").html_safe %>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <%= link_to "Leave Comment", blog_post_path(post.cached_blog, post) + "#comments", {:class => "underline blog-author"} %>
            </section>
          <% end %>
        </div>
      </td>

      <!-- START RIGHT COL -->
      <td class="pull-right span3 visible-desktop right-col">
        <div id="rightcol">

        <% if can? :update, @blog %>
          <div class="right-sidebar">
            <div class="btn-grp sidebar-title">
              <%= link_to 'New post', new_blog_post_path, :class => 'btn btn-info' %>
              <% unless Post.cached_draft_count(@blog.id).zero? %>
                <br/><br/>
                <%= link_to 'Scheduled posts', scheduled_posts_path, :class => 'btn btn-success' %>
              <% end %>
            </div>
          </div>
        <% end %>
         
        
        <!-- Begin Latest posts -->
        <div class="archives right-sidebar" id="recent_posts">
            <label for="recentposts" class="sidebar-title"><span class="label">Recent posts</span></label>
            <input class="rcin" type="checkbox" id="recentposts" />
            <ol id="rpos"></ol>
          </div>
        </div>

        <!-- Begin Latest comments -->
        <div class="archives right-sidebar" id="recent_comments">
          <label for="recentcomments" class="sidebar-title"><span class="label">Recent comments</span></label>
          <input class="rcin" type="checkbox" id="recentcomments" />
          <ol id="rcom"></ol>
        </div>

        <!-- datepicker -->
        <div class="visible-desktop datepicker right-sidebar pull">
        </div>
      </td>
    </tr>
  </table>

  <!-- Pagination Links -->
  <nav id="paginator" class="span9">
    <ul class="pager">
      <li class="previous">
        <%= link_to_previous_page @posts, "‹ Previous 20 Posts" %>
      </li>
      <li class="next">
        <%= link_to_next_page @posts, "Next 20 Posts ›" %>
      </li>
    </ul>
  </nav>

</div>
