<%- model_class = Post -%>
<!-- Main Page Content -->
<div class="row">
  <div class="span6 offset3">
    <h1 class="page-header">
      <% @blog = Blog.find_by_slug(params[:blog_id]) %>
      <%= link_to @blog.title, blog_posts_path %><br>
      <small class="blog-subtitle"><%=  @blog.subtitle %></small>
    </h1>
  </div>
</div>
<!-- Main Blog Content -->
<div class="row">
  <div class="span6 offset3">
    <% @posts.each do |post| %>
      <section class="snippet">
        <h2><%= link_to post.title,  blog_post_path(post.blog,post) %>
         <% if can? :update, post %>
         <%= link_to 'Edit post', edit_blog_post_path(post.blog,post), :class => 'btn btn-mini' %>
         <% end %>
         <% if can? :destroy, post %>
         <%= link_to 'Delete post', blog_post_path(post.blog,post),
         :method => :delete,
         :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
         :class => 'btn btn-mini btn-danger' %>
         <% end %>
       </h2>
       <h5 class="blog-author">by <%= link_to post.blog.user.username, post.blog.user, {:class => "overrideanchor"} %> on <%= post.created_at.strftime("%a, %b %d %Y at %l:%M %p") %> / <%= link_to (pluralize post.comments.count, "comment") , blog_post_path(post.blog, post) + "#comments", {:class => "overrideanchor"} %></h5>
        <%= post.content.html_safe.gsub(/\r\n?/,"").split(" ").first(200).join(" ").html_safe %>... <%= link_to "Continued", blog_post_path(post.blog,post), {:class => "overrideanchor"} %>
      <!-- <comments> <%= link_to (pluralize post.comments.count, "Comment") , blog_post_path(post.blog,post) %>
      </comments> -->
      </section>
    <% end %>
  <div id="paginator">
    <%= paginate @posts, :param_name => :page %>
  </div>
</div>
<!-- Main Blog Content End -->
<!--  SideBar Begin -->
<div class="span3">
  <% if can? :update, @blog %>
  <h3>Manage Blog</h3>
  <%= link_to 'New Post', new_blog_post_path,
  :class => 'btn' %>
  <% end %>
  <h3> Tag Cloud </h3>
  <div id="tag_cloud">
   <ul>
    <% tag_cloud @posts.tag_counts, %w[s m l] do |tag, css_class| %>
    <li><%= link_to tag.name, tag_path(params[:blog_id],tag.name), class: css_class %></li>
    <% end %>
  </ul>
</div>
</div>
<!-- End Sidebar Content -->