<%- model_class = Post -%>

<div class="row">
  <div class="span6 offset3">
    <div class="page-header">
      <h1>
        <%= Blog.find(@post.blog_id).title %><br>
        <small class="blog-subtitle">
          <%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                          :default => "New #{model_class.model_name.human}") %>
        </small>
      </h1>
    </div>
  </div>
</div>

<%= render :partial => 'form', :locals => {:urler => blog_posts_path} %>

<%= render 'shared/poemtext' %>
<%= render 'shared/image_upload' %>
<%= render 'shared/wmd_editor' %>
<%= render 'shared/music_upload' %>
