<%- model_class = Post -%>
<!-- Main Page Content -->
<% content_for :head do %>
<% current_link = request.protocol+request.host_with_port+params[:blog].to_s+blog_posts_path %>
<%= auto_discovery_link_tag :atom, current_link+".atom" %>
<%= auto_discovery_link_tag :rss,  current_link+".rss" %>
<% end %>
<% @blog = Blog.cached_find_by_slug(params[:blog_id]) %>
<%= link_to @blog.cached_title, blog_posts_path %><br/>
<div class="row">
  <div class="span6 offset3 dynamicspan">
    <h1 class="page-header title" style="margin-bottom: 20px">
      <%= link_to @blog.cached_title, blog_posts_path %>
      <%= link_to "", request.protocol + request.host_with_port + blog_posts_path + ".atom", :class => "icon-rss", :title => "Subscribe to feed", :style => "font-size: 65%" %><br>
      <small class="blog-subtitle"><%= @blog.cached_subtitle %></small>
    </h1>
  </div>
</div>
<!-- Main Blog Content -->
<div class="row">
  <div class="span6 offset3 dynamicspan">
    <% unless @posts.empty? %>
      <% @posts.each do |post| %>
        <section class="snippet">
          <h2><%= link_to post.cached_title,  blog_post_path(post.cached_blog,post) %></h2>
          <div>
            <span class="pull-right">
              <% if can? :update, post %>
                <%= link_to 'Edit', edit_blog_post_path(post.cached_blog,post), :class => 'btn btn-mini btn-warning' %>
              <% end %>
            </span>
            <h5><span class="label">Scheduled</span><span class="blog-author"> by <%= link_to post.cached_blog.cached_user.cached_username, post.cached_blog.cached_user, {:class => "underline"} %>  for <%= post.published_at.strftime("%a, %b %d %Y at %l:%M %p") %></h5>
            <% unless post.cached_excerpt.blank? %>
              <p><%= post.cached_excerpt.gsub(/\r\n?/,"<br>").html_safe %></p>
              <p><em><%= link_to "Read more", blog_post_path(post.cached_blog, post), {:class => "underline"} %></em></p>
            <% else %>
              <% post_content = post.cached_content.gsub(/\r\n?/, "") %>
              <% stripped_content = strip_tags(post.cached_content) %>
              <% if stripped_content.split(" ").length > 200 %>
                <%= post_content.split(" ").first(200).join(" ").html_safe %>...
                <p><em><%= link_to "Read more", blog_post_path(post.cached_blog, post), {:class => "underline"} %></em></p>
              <% else %>
                <%= post_content.split(" ").first(200).join(" ").html_safe %>
              <% end %>
            <% end %>
          </div>
        </section>
      <% end %>
    <% else %>
      <p style="text-align: center; font-size: 1.5em; padding-top: 100px" class="muted"><em>You have no scheduled posts. <a href="<%= new_blog_post_path %>" class="underline">Create one?</a></em></p>
    <% end %>
    <nav id="paginator">
      <ul class="pager">
        <li class="previous">
          <%= link_to_previous_page @posts, "‹ Newer" %>
        </li>
        <li class="next">
          <%= link_to_next_page @posts, "Older ›" %>
        </li>
    </nav>
  </div>
<!-- Main Blog Content End -->
<!--  SideBar Begin -->
  <% unless @noscheduled %>
    <div class="span3 visible-desktop">
      <% if can? :update, @blog %>
        <div class="right-sidebar">
          <div class="sidebar-title"><span class="label">Manage blog</span></div><br>
          <div class="btn-grp sidebar-title">
            <%= link_to 'New post', new_blog_post_path, :class => 'btn btn-info' %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
