<%- model_class = Post -%>
<div class="row">
  <div class="span6 offset3">
    <h1 class="page-header">
      <%= link_to @post.blog.title, blog_posts_path %><br>
      <small class="blog-subtitle"><%=  @post.blog.subtitle %></small>
    </h1>
  </div>
</div>
<!-- Main Blog Content -->
<div class="row">
  <div class="span3"></div>
  <div class="span6" role="content" id="redactor_content">
    <article>
      <h2><a href="#"><%= link_to @post.title,  blog_post_path(@post.blog,@post) %></a></h2>
      <div>
        <span class="pull-right">
          <% if can? :destroy, @post.blog %>
            <%= link_to 'Edit', edit_blog_post_path(@post.blog,@post), :class => 'btn btn-mini btn-warning' %>
          <% end %>
          <% if can? :destroy, @post %>
            <%= link_to 'Delete', blog_post_path(@post.blog,@post),
              :method => :delete,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </span>
        <h5 class="blog-author">by <%= link_to @post.blog.user.username, @post.blog.user, {:class => "overrideanchor"} %> on <%= @post.created_at.strftime("%a, %b %d %Y at %l:%M %p") %> / <%= link_to (pluralize @post.comments.count, "comment"), "#comments", {:class => "overrideanchor"} %>
        </h5>
      </div>
      <%= @post.content.html_safe.gsub(/\r\n?/,"").html_safe %>
      <% if @post.updated_at != @post.created_at %>
        <p class="author muted" style="padding-top: 20px">
          (This post was updated on <%= @post.updated_at.strftime("%b %d %Y at %l:%M %p") %>)
        </p>
      <% end %>
      <% tag_counts = @post.tag_counts %>
      <% if tag_counts.length > 0 %>
        <div class="tags">
          <span class="badge">Tagged as</span>
          <% tag_cloud tag_counts, %w[s m l] do |tag| %>
            <span><%= link_to tag.name, tag_path(params[:blog_id],tag.name), :class => "tag label label-info" %></span>
          <% end %>
        </div>
      <% end %>
    </article>
    <section class="comments">
      <h3 id="comments"><%= pluralize(@post.comments.count, "comment") %></h3>
      <%= render @post.comments %>
      <% if user_signed_in? %>
        <% if can? :create, Comment %>
          <%= render "comments/form" %>
        <% end %>
      <% else %>
      <div class="btn-grp" style="text-align: center">
        <%= link_to "Log in to comment", new_user_session_path, :class => 'btn' %>
      </div>
      <% end %>
    </section>
  </div>
<!-- Main Blog Content End -->
<!--  SideBar Begin -->
<!-- <div class="span3">
</div> -->
<!--  SideBar End -->
</div>