<%- model_class = Post -%>
<div id='flash_error'></div>
<% @blog = @post.cached_blog %>
<% base_url = request.protocol + request.host_with_port %>
<% feed_url = base_url + blog_path(@blog) + "/feed" %>
<% tag_base_url = base_url + blog_posts_path + "/tags/" %>
<% content_for :head do %>
  <%= auto_discovery_link_tag :atom, feed_url %>
  <%= auto_discovery_link_tag :rss,  feed_url %>
<% end %>
<% title @post.cached_title + " | " + @blog.cached_title %>

<div class="row">
  <div class="span12">
    <div class="page-header title">
      <h1><%= link_to @blog.cached_title, blog_posts_path %></h1>
      <div style="margin-top: 20px">
        <%= link_to 'Archives', archives_path, {class: 'muted'} %>
        <span class="muted">&bull;</span>
        <%= link_to "Feed", feed_url, {:class => "muted-anchor"} %>
        <span class="muted">&bull;</span>
        <a href="#" value="Subscribe" class="muted-anchor" onclick="(function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})()">Subscribe</a>
        <span id="follow_blog"><%= render :partial => "shared/follow_blog", :locals => {:blog => @blog} %></span>
      </div>
    </div>
  </div>
</div>

<!-- Main Blog Content -->
<div class="row">
  <div class="span9 center-col" role="content">
    <article class="article-post">
      <% unless @post.cached_series_title.blank? %>
        <% series_tag_arr = @post.tag_counts.select{|tag| tag.name.start_with?("@")} %>
        <% unless series_tag_arr.empty? %>
          <% series_tag = series_tag_arr[0].name %>
        <% end %>
        <% if series_tag %>
          <div class="visible-desktop">
            <h6 class="post-series"><%= link_to @post.cached_series_title, tag_base_url + series_tag, { :title => "View series" } %></h6>
          </div>
        <% else %>
          <h6 class="post-series visible-desktop"><%= @post.cached_series_title %></h6>
          <h6 class="post-series hidden-desktop"><%= @post.cached_series_title %></h6>
        <% end %>
      <% end %>
      <h4><a href="#"><%= link_to @post.cached_title,  blog_post_path(@blog,@post) %></a></strong>
      <% if current_user.nil? || !current_user.admin? %>
        <% if @post.featured? %>
            <i class="icon-star pull-right"></i>
          <% end %>
        <% else %>
          <%= link_to '', update_featured_status_path(@post.cached_blog,@post), id: @post.url, :class => toggle_class(@post), remote: true %> 
        <% end %>
      </h4>
      <h6><%= @post.cached_subtitle %></h6>
      <div>
        <span class="pull-right">
          <% if can? :update, @post %>
          <%= link_to 'Edit', edit_blog_post_path(@blog,@post), :class => 'btn btn-mini btn-warning' %>
          <% end %>
          <% if can? :destroy, @post %>
          <%= link_to 'Delete', blog_post_path(@blog,@post),
          :method => :delete,
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
          :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </span>
        <h5>
          <% if @post.draft && @post.cached_published_at > Time.zone.now %>
            <span class="label">Scheduled</span>
          <% end %>
          <span class="blog-author"><%= link_to (@post.cached_author.name.blank? ? @post.cached_author.username : @post.cached_author.name), @post.cached_author, {:class => "underline"} %> on <%= @post.cached_published_at.strftime("%a, %b %d %Y at %l:%M %p") %>
          </span>
        </h5>
      </div>
      <div class="main-content post-content">
        <% if @post.cached_show_excerpt === "prefix" %>
          <p class='excerpt'><%= @post.cached_excerpt %></p>
        <% end %>
        <%= @post.cached_content.html_safe.gsub(/\r\n?/,"").html_safe %>
        <% if @post.cached_show_excerpt === "suffix" %>
          <p class='excerpt'><%= @post.cached_excerpt %></p>
        <% end %>
      </div>
      <% if @post.updated_at > @post.published_at + 20 %>
      <p class="author muted h6" style="padding-top: 20px">
        (Updated on <%= @post.updated_at.strftime("%b %d %Y at %l:%M %p") %>)
      </p>
      <% end %>
      <% tag_counts = @post.tag_counts %>
      <% if tag_counts.length > 0 %>
      <div class="tags hidden-desktop">
        <% unless tag_counts.length > 1 %>
        <span class="label">Tag</span>
        <% else %>
        <span class="label">Tags</span>
        <% end %>
        <% tag_cloud tag_counts, %w[m] do |tag| %>
        <span><%= link_to tag.name, tag_path(params[:blog_id],tag.name), :class => "tag label label-info" %></span>
        <% end %>
      </div>
      <% end %>
    </article>
    <% unless @post.draft %>
    <section class="comments h6">
      <%= render @post.cached_comments %>
      <%= render "comments/disqus" %>
    </section>
    <% end %>
  </div>
  <!-- Main Blog Content End -->
  <!--  SideBar Begin -->
  <div class="span3 visible-desktop right-col">
    <!-- Begin Latest posts -->
    <!-- Begin Latest posts -->
    <!-- Begin Latest posts -->
    <div class="sidebar-menu">
      <div class="sidebar-heading">
        <a class="collapse_posts">Recent Posts</a>
      </div>
      <div class="collapse recent_posts" id="recent_posts">
      </div>
    </div>

    <!-- Begin Latest comments -->
    <div class="sidebar-menu">
      <div class="sidebar-heading">
        <a class="collapse_comments">Recent Comments</a>
      </div>
      <div class="collapse recent_comments" id="recent_comments">
      </div>
    </div>

    <!-- Begin DatePicker -->
    <div class="visible-desktop datepicker">
      <div class="datepicker-title">Search by Date</div>
    </div>
  </div>
    
  </div>

  <!--  SideBar End -->  
</div>
