<%- model_class = Post -%>
<% @blog = @post.cached_blog %>
<% base_url = request.protocol + request.host_with_port %>
<% feed_url = base_url + blog_path(@blog) + "/feed" %>
<% tag_base_url = base_url + blog_posts_path + "/tags/" %>
<% content_for :head do %>
  <%= auto_discovery_link_tag :atom, feed_url %>
  <%= auto_discovery_link_tag :rss,  feed_url %>
<% end %>
<% title @post.cached_title + " | " + @blog.cached_title %>
<div class="row">
  <div class="span6 offset3 dynamicspan">
    <div class="page-header title">
      <h1><%= link_to @blog.cached_title, blog_posts_path %></h1>
      <h3 class="blog-subtitle"><%= @blog.cached_subtitle %></h3>
      <div style="margin-top: 20px">
        <i class="icon-rss muted"></i>
        <a href=<%= feed_url %> class="muted-anchor">Feed</a>
        <span class="muted">&bull;</span>
        <a href="#" value="Subscribe" class="muted-anchor" onclick="(function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})()">Subscribe</a>
      </div>
    </div>
  </div>
</div>
<!-- Main Blog Content -->
<div class="row">
  <div class="span6 offset3 dynamicspan" role="content">
    <article style="margin-top: 20px">
      <% if @post.cached_series_title %>
        <% series_tag_arr = @post.tag_counts.select{|tag| tag.name.start_with?("@")} %>
        <% unless series_tag_arr.empty? %>
          <% series_tag = series_tag_arr[0].name %>
        <% end %>
        <% if series_tag %>
          <div class="visible-desktop post-series-sidebar span2">
            <h4 class="post-series"><%= link_to @post.cached_series_title + " ↩", tag_base_url + series_tag, { :title => "View series" } %></h4>
          </div>
        <% else %>
          <h4 class="post-series span2 visible-desktop post-series-sidebar"><%= @post.cached_series_title %></h4>
          <h4 class="post-series hidden-desktop"><%= @post.cached_series_title %></h4>
        <% end %>
      <% end %>
      <h2><a href="#"><%= link_to @post.cached_title,  blog_post_path(@blog,@post) %></a></h2>
      <h4 class="post-subtitle"><%= @post.cached_subtitle %></h4>
      <div>
        <span class="pull-right">
          <% if can? :destroy, @blog %>
          <%= link_to 'Edit', edit_blog_post_path(@blog,@post), :class => 'btn btn-mini btn-warning' %>
          <% end %>
          <% if can? :destroy, @post %>
          <%= link_to 'Delete', blog_post_path(@blog,@post),
          :method => :delete,
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
          :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </span>
        <h5 class="blog-author">by <%= link_to @blog.cached_user.cached_username, @blog.cached_user, {:class => "underline"} %> on <%= @post.cached_published_at.strftime("%a, %b %d %Y at %l:%M %p") %> / <%= link_to (pluralize @post.cached_comments_count, "comment"), "#comments", {:class => "underline"} %>
        </h5>
      </div>
      <div class="main-content">
        <% if @post.cached_show_excerpt === "prefix" %>
          <p><%= @post.cached_excerpt %></p>
        <% end %>
        <%= @post.cached_content.html_safe.gsub(/\r\n?/,"").html_safe %>
        <% if @post.cached_show_excerpt === "suffix" %>
          <p><%= @post.cached_excerpt %></p>
        <% end %>
      </div>
      <% if @post.updated_at > @post.published_at + 20 %>
      <p class="author muted" style="padding-top: 20px">
        (Updated on <%= @post.updated_at.strftime("%b %d %Y at %l:%M %p") %>)
      </p>
      <% end %>
      <% tag_counts = @post.tag_counts %>
      <% if tag_counts.length > 0 %>
      <div class="tags hidden-desktop">
        <% unless tag_counts.length > 1 %>
        <span class="label">Tag</span>
        <% else %>
        <span class="label">Tags</span>
        <% end %>
        <% tag_cloud tag_counts, %w[m] do |tag| %>
        <span><%= link_to tag.name, tag_path(params[:blog_id],tag.name), :class => "tag label label-info" %></span>
        <% end %>
      </div>
      <% end %>
    </article>
    <% unless @post.draft %>
    <section class="comments">
      <h3 id="comments"><%= pluralize(@post.cached_comments_count, "comment") %></h3>
      <%= render @post.cached_comments %>
      <% if user_signed_in? %>
      <% if can? :create, Comment %>
      <%= render "comments/form" %>
      <% end %>
      <% else %>
      <div class="btn-grp" style="text-align: center">
        <%= link_to "Log in to comment", new_user_session_path, :class => 'btn' %>
      </div>
      <% end %>
    </section>
    <% end %>
  </div>
  <!-- Main Blog Content End -->
  <!--  SideBar Begin -->
  <div class="span3 visible-desktop">
    <% tag_counts = @post.tag_counts.reject{|tag| tag.name.start_with?("@")} %>
    <% if tag_counts.length > 0 %>
    <div class="right-sidebar" id="tag_cloud">
      <label for="related-tag" class="sidebar-title"><span class="label">Tags</span></label>
      <input class="arcin" type="checkbox" id="related-tag" /> 
      <ol>
        <% count = 0 %>
        <li class="listi">
          <% tag_cloud tag_counts, %w[m] do |tag, css_class| %>
          <%= link_to tag_path(params[:blog_id], tag.name) do %>
          <span class="sidebar-links <%= css_class %>"><%= tag.name %></span>
          <% end %>
          <% unless count == tag_counts.length - 1 %>
          <span class="tag-sep">&bull;</span>
          <% end %>
          <% count += 1 %>
          <% end %>
        </li>
      </ol>
    </div>
    <% end %>
  </div>
</div>
<!--  SideBar End -->
</div>
