<%- model_class = Post -%>
<div class="row">
  <div class="span1">&nbsp;</div>
  <div class="span9">
    <h2 class="blog-title">
      <%= link_to @post.blog.title, blog_posts_path %>
      <small><%=  @post.blog.subtitle %></small>
    </h2>
    <hr/>
  </div>
</div>
<!-- Main Blog Content -->
<div class="row sav-content">
  <div class="span1">
    &nbsp;
  </div>
  <div class="span9" role="content" id="redactor_content">
    <article>
      <h2><a href="#"><%= link_to @post.title,  blog_post_path(@post.blog,@post) %></a></h2>
      <h6 class="blog"><%= link_to @post.blog.user.username, @post.blog.user %></h6>
      <div class="row">
        <div class="span9">
          <%= @post.content.html_safe.gsub(/\r\n?/,"").html_safe %>                 
        </div>
      </div>
    </article>
    <comments> <%= link_to (pluralize @post.comments.count , "Comment") , blog_post_path(@post.blog,@post) %>
    </comments>
    <hr />
    <dd><%= render @post.comments %></dd>
    <% if user_signed_in? %>
    <% if can? :create, Comment %>
    <%= render "comments/form" %>
    <% end %>
    <% else %>
    <dt>
    </dt>
    <dd><%= link_to "Log in to Add Comment", new_user_session_path  %></dd>
    <% end %>
  </dl>
</div>
<!-- Main Blog Content End -->
<!--  SideBar Begin -->
<div class="span2">
  <% if can? :create, Post %>
  <h3>Manage Blog</h3>
  <p><%= link_to 'New Post', new_blog_post_path,
    :class => 'btn' %></p>
  <% end %>
 <% if can? :update, @post %>
 <p> <%= link_to 'Edit Post', edit_blog_post_path(@post.blog,@post), :class => 'btn' %></p>
 <% end %>
 <% if can? :destroy, @post %>
 <p><%= link_to 'Delete Post', blog_post_path(@post.blog,@post),
 :method => :delete,
 :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
 :class => 'btn btn-danger' %></p>
 <% end %>
 <h5>Tagged as</h5>
 <div id="tag_cloud">
   <ul>
    <% tag_cloud @post.tag_counts, %w[s m l] do |tag, css_class| %>
    <li><%= link_to tag.name, tag_path(params[:blog_id],tag.name), class: css_class %></li>
    <% end %>
  </div>
  <br/>
</div>
<!--  SideBar End -->