<!DOCTYPE html>
<html>
<head>
  <title>Savitri</title>
      <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
     <!--[IF IE]>
     <![endif]-->
      <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <%= yield :head %> 
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <script type="text/javascript" src="http://fast.fonts.com/jsapi/381214a9-5afb-4d5e-a767-3f2bc47454e9.js"></script>
      <%  if params[:controller].to_s == 'read' %>
        <% unless current_user.nil? %>
          <script src="http://assets.annotateit.org/annotator/v1.1.0/annotator-full.min.js"></script>
          <link rel="stylesheet" href="http://assets.annotateit.org/annotator/v1.1.0/annotator.min.css">
        <% end %>
      <% end %>
      <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Savitri</a>

          <div class="nav-collapse">
            <ul class="nav">
              <li class="<%=is_active 'read' %>"><a href="/read/1">The Book</a></li>  
              <li class="dropdown" id="Resources">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">Media Centre
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#"><span class="icon-user"></span>Library</a></li>
                  <li><a href="#"><i class="icon-facetime-video"></i> Presentations</a></li>
                  <li><a href="#"><i class="icon-music"></i> Audio</a></li>
                  <li><a href="#"><i class="icon-picture"></i> Themes</a></li>
                </ul>
              </li>
              <li class="dropdown" id="Blogs">
                <a href="/latest-posts">Blogs
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/blogs/light-of-supreme/posts/">The Light of the Supreme</a></li>
                  <li><a href="/blogs/parasya-jyotih/posts">Parasya Jyotih (परस्य ज्योतिः)</a></li>
                  <li><a href="/blogs/mirror/posts">Mirror</a></li>
                </ul>
              </li>
              <li><a href="<%= page_path("About")%>">About</a></li>      

            </ul>
          </div><!--/.nav-collapse -->
          <form class="navbar-search pull-left" action="/search/">
            <%= text_field_tag :q, params[:q], :class=>"search-query span2", :placeholder=>"Search" %>
          </form>
          <div class="btn-group pull-right">
            <% if user_signed_in? %> 
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
             <i class="icon-user"><%= current_user.username %></i>
             <span class="caret"></span>
           </a>
           <ul class="dropdown-menu">
            <% if current_user.blogs.count > 0  %>
            <li><%= link_to "Manage Blog", blogs_path %> </li>
            <% else %>
            <li><%= link_to "Manage Blog", new_blog_path %></li>
            <% end %>
            <li class="divider"/>
            <li><%= link_to "Account Settings", edit_user_registration_path %> </li>
            <li class="divider"/>
            <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
          </ul>
          <% else %> 
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i>Log In
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Sign Up", new_user_registration_path %> </li>
            <li class="divider"></li>
            <li> <%= link_to "Log In" , new_user_session_path %></li>
           <!-- 
              <li class="divider" />
           Edit to add Login Modal Box
              <li>
                <a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a> 
              </li>
            -->
          </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<body>
  <div class="container">
     <div class="row">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
