<!DOCTYPE html>
<html>
<head>

  <title>Savitri <%= yield(:title) %> </title>
            <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
     <!--[IF IE]>
     <![endif]-->
      <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <%= yield :head %>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/1add1a27-fd5a-4a23-82f9-eaf3b73d689a.css"/>
      <%= favicon_link_tag 'favicon.ico' %>
      <%  if params[:controller].to_s == 'read' %>
        <% unless current_user.nil? %>
          <script src="http://assets.annotateit.org/annotator/v1.1.0/annotator-full.min.js"></script>
          <link rel="stylesheet" href="http://assets.annotateit.org/annotator/v1.1.0/annotator.min.css">
        <% end %>
      <% end %>
      <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/read/1/1/1" id="brandid">Savitri</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="<%= is_active 'savitri' %>"><a href="/">Home</a></li>
              <li class="<%= is_active 'read' %> visible-desktop"><a href="/read/1/1/1">Savitri</a></li>
              <li class="dropdown" id="Resources">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">Media Centre
                  <i class="icon-caret-down"></i>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/library"><i class="icon-info-sign navicon"></i>Library</a></li>
                  <li><a href="/presentations"><i class="icon-film navicon"></i>Presentations</a></li>
                  <li><a href="/audio"><i class="icon-headphones navicon"></i>Audio</a></li>
                  <li><a href="/themes"><i class="icon-picture navicon"></i>Themes</a></li>
                </ul>
              </li>
              <li class="dropdown" id="Blogs">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#menu2">Blogs
                  <i class="icon-caret-down"></i>
                </a>
                <ul class="dropdown-menu">
                  <% User.cached_find(1).cached_blogs.each do |b| %>
                    <li>
                      <%= link_to b.title, blog_posts_path(b) %>
                    </li>
                  <% end %>
                </ul>
              </li>
                <% @pages = Page.order(:priority).find_all_by_category("Menu") %>
                <% unless @pages.count > 1 %>
                <li><%= link_to @pages.first.name, page_path(@pages.first) %></li>
                <% else %>
                <li class="dropdown" id="pages"><a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">About
                  <i class="icon-caret-down"></i>
                </a>
                  <ul class="dropdown-menu">
                    <% @pages.each do |page| %>
                      <li><%= link_to page.name, page_path(page) %></li>
                    <% end %>
                  </ul>
                </li>
                <% end %>
              </ul>
          </div><!--/.nav-collapse -->
          <form class="navbar-search pull-left"  id="search-form" action="/search/">
            <div class="input-append searchbox">
              <%= text_field_tag :q, params[:q], :class => "span3" , :id=>"search-menu", :accesskey=>"q" %>
              <button class="btn" type="submit"><i class="icon-search"></i></button>
            </div>
            <a href="#" id="removeicon" class="removeicon" style="display:none;">
              <i class="icon-remove"></i>
            </a>
          </form>
          <div class="btn-group pull-right">
            <% if user_signed_in? %> 
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i>
              <%= current_user.username %>
              <i class="icon-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
            <% if current_user.role == 'Admin' %>
              <li><%= link_to "Manage blogs & media", blogs_path %></li>
              <li class="divider"/>
            <% elsif current_user.blogs.count > 0  %>
              <li><%= link_to "Manage blog", blogs_path %></li>
              <li class="divider"/>
            <% else %>
              <% if can? :create, @blog %>
                <li><%= link_to "Create blog", new_blog_path %></li>
                <li class="divider"/>
              <% end %>
            <% end %>
            <li><%= link_to "Account settings", edit_user_registration_path %> </li>
            <li class="divider"/>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          </ul>
          <% else %> 
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i>
            Sign in
            <i class="icon-caret-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li> <%= link_to "Sign in", new_user_session_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
           <!-- 
              <li class="divider" />
           Edit to add Login Modal Box
              <li>
                <a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a> 
              </li>
            -->
          </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<body>
  <div class="container top">
    <div class="row">
      <%= render 'layouts/messages' %>
    </div>
    <%= yield %>
  </div>
</body>
<% if Rails.env.production? %><%= render 'layouts/ga' %><% end %>
</html>
